[2020-05-14 22:44] dantownsend opened #2 "Session auth expiry"
The session auth currently expires automatically after 1 hour. This should be extended automatically if the user is still using the app. This is a small issue with piccolo_api - the middleware is unable to extend the cookie expiry at present, so needs refactoring so it doesn't use Starlette's Auth middleware.

[2020-05-31 13:21] dantownsend commented on #2
Fixed

[2020-05-31 13:21] #2 closed

[2020-05-31 13:21] dantownsend opened #3 "Be able to bulk delete items in the admin"

[2020-08-25 20:25] dantownsend opened #7 "Roadmap"
- [x] Be able to bulk delete items in the admin
- [x] Be able to bulk modify items in the admin
- [x] Improve pagination when dealing with lots of data in a table.
- [x] CSV export
- [x] Add a custom widget for Interval fields - currently just accepts a number of seconds.
- [x] Use FastAPI for the API
- [x] User management - creating users and changing passwords via the UI
- [x] Be able to change

[2020-08-25 20:26] dantownsend commented on #3
Moved to roadmap

[2020-08-25 20:26] #3 closed

[2020-10-03 11:31] dantownsend opened #8 "CSRF fixes when served under HTTPS"
Brought to attention in this issue:

https://github.com/piccolo-orm/piccolo/issues/8

``create_admin`` doesn't expose arguments for ``CSRFMiddleware`` - most importantly ``allowed_hosts``, which is an extra layer of protection when served under HTTPS.

It means that when the admin is served directly under HTTPS, rather than behind a proxy, the CSRF middleware will always block the request.

[2020-10-03 14:08] dantownsend commented on #8
Should be fixed in https://github.com/piccolo-orm/piccolo_admin/commit/40b8d1829a36926f189a1b8d8eeb5453fc7c99fa

Need to update the ASGI template in the main Piccolo repo to take account of the changes.

[2020-10-05 13:10] dantownsend commented on #8
Updated the ASGI template created by Piccolo to include the ``allowed_hosts`` argument - https://github.com/piccolo-orm/piccolo/commit/5641c1a31a4921f8693261fb083fd2f836855948.

[2020-10-05 13:10] #8 closed

[2020-10-06 22:58] dantownsend opened #9 "Add custom widget for Interval fields"
Any `Interval` fields are shown as text boxes, where you input a number of seconds. It works fine, but could be more user friendly.

The schema for a table with an Interval column looks like this (accessible via `/api/tables/my_table/schema`).

[code]
We can tell if it's an `Interval` from the format field in the schema, which is `"time-delta"`.

[2020-12-21 07:47] sinisaos commented on #7
Hi Daniel
In roadmap CSV export isn't applied yet. I made export to csv with help of https://www.npmjs.com/package/vue-json-excel. I tried on 10000 records with filtering and sorting and work fine. I can make PR that you can see code and try it.

![admin](https://user-images.githubusercontent.com/30960668/102751851-e0140400-4368-11eb-9843-3a7909c175ad.png)

What do you think?

[2020-12-21 18:38] dantownsend commented on #7
@sinisaos Yes, that would be great. I assumed it would require some backend work for CSV exporting to work, but if there's a JS library for it, even better!

[2021-01-02 10:59] sinisaos commented on #9
Hi Daniel
How about range slider for `Interval` field. Something like this

![create](https://user-images.githubusercontent.com/30960668/103455892-4eee4700-4cf1-11eb-8ec9-97e07532d3c7.png)

![edit](https://user-images.githubusercontent.com/30960668/103455893-53b2fb00-4cf1-11eb-841b-1cbf2e01b7d4.png)

Which time range and which step would be satisfactory? I put 30 days and step is 15 seconds. If yo

[2021-01-02 13:54] dantownsend commented on #9
@sinisaos Yeah, it's tricky with sliders - trying to get the perfect increment is hard. I think there are valid use cases where someone would want to specify `5 seconds`, and others where someone might want `1 year`.

When it's just a number, I think the best solution is to have a slider, and a free text field. Here's an [example](https://simpleinvestmentguide.com/tools/interest-calculator/).

But

[2021-01-02 16:50] sinisaos commented on #9
@dantownsend I agree with you that sliders it's tricky with range and steps (if range is big and steps are small it's to many steps and slider is to sensitive). Dropdowns will be better but also tricky to make. Maybe something like this https://www.jqueryscript.net/time-clock/duration-days-hours-minutes.html . I
For my example of sliders I used `convertTimeSlider` to convert seconds to human reada

[2021-01-02 16:59] sinisaos commented on #9
@dantownsend And btw interest calculator look awesome.

[2021-01-02 21:14] dantownsend commented on #9
@sinisaos Thanks, I'm pleased with the interest calculator. It was an unusual thing to spend my spare time on, but was educational!

Here's a simple example of what a dropdown based widget would look like:

[code]
It's similar to that jQuery one. What do you think?

It looks like this:

<img width="256" alt="Screenshot 2021-01-02 at 21 13 57" src="https://user-images.githubusercontent.com/350976/1

[2021-01-02 22:51] dantownsend opened #12 "Use FastAPIWrapper for the API"
Having Swagger documentation for the API would be useful during development, and potentially for some end users.

``FastAPIWrapper`` is built on top of ``PiccoloCRUD``, so the API should be the same, but this needs to be verified.

[2021-01-03 11:13] sinisaos commented on #9
@dantownsend I think that looks awesome and that should be widget for Interval fields. It's much better than slider. Just add width:100% to div.segment

![edit](https://user-images.githubusercontent.com/30960668/103477198-7c53f700-4dbc-11eb-8032-670f36f546c6.png)

[2021-01-03 20:42] dantownsend commented on #9
@sinisaos In the duration column in your screenshot, I think it would be cool if we changed that so it uses the format you used in your slider e.g. `5 minutes 3 seconds` instead of `303`.

[2021-01-04 07:20] sinisaos commented on #9
@dantownsend Something like this

![create](https://user-images.githubusercontent.com/30960668/103508996-6bf65780-4e62-11eb-81c1-dd46a520799c.png)

On the small screen, the `Interval` widget is too wide. So I change the width of the sidebar of the `right_column` and I replaced the filter and sort buttons (withouth CSS order property like in above screenshot)

![mobile](https://user-images.githubus

[2021-01-06 11:03] dantownsend commented on #9
@sinisaos I've merged your work in now. I added a few commits to improve the buttons on mobile.

I'm really pleased with how the new widget and bulk deletion turned out, so thanks for your help 👍

[2021-01-06 11:48] sinisaos commented on #9
@dantownsend Thanks. Glad I can help :). Its look really good.

[2021-01-21 12:14] #9 closed

[2021-01-21 12:22] dantownsend opened #22 "Add proper docs"
At the moment, all of the docs are in the README.

I think it would benefit from proper docs on readthedocs.org, as the project grows in scope.

For example, the README currently doesn't explain how to create admin users on the command line, or how to set a custom title for the admin.

[2021-01-21 15:56] sinisaos commented on #22
@dantownsend That's a great idea. I think that Piccolo Admin is a great app and important part of Piccolo ecosystem, so good documentation will attract users.

[2021-01-23 23:42] dantownsend commented on #22
@sinisaos Merged in now - thanks again!

[2021-01-23 23:42] #22 closed

[2021-01-27 07:23] sinisaos commented on #12
Hi Daniel
I've been playing with this for a couple of days and I've managed to integrate FastAPIWrapper with small code changes (I don't know if they're the best but they work).
1. FastAPIWrapper inherits from Starlette Router to be callable. Changes in piccolo_api fastapi `endpoints.py`
[code]
2. In piccolo_admin `endpoints.py` I replaced table_routes with this
[code]
Result is this

![docs](http

[2021-01-27 13:01] dantownsend commented on #12
@sinisaos It is very tricky - I'm impressed with how far you've gotten with it.

It's challenging because the API is built up dynamically.

I'm not sure what to do about cookie authentication not working. I guess the only authentication that is supported is OAuth. I know you implemented it in your example FastAPI app. Maybe that's an option.

I'll have a proper look this evening. Feel free to make

[2021-01-27 15:18] sinisaos commented on #12
@dantownsend Thanks. I think that with cookie authentication we can't do nothing because Swagger UI currently not support it for `"Try it out"` requests due to browser security restrictions.
I already try OAuth and that's also dosen't work behind admin, because admin use session auth with CSRFMiddleware and you must provide csrftoken in Swagger UI forms to be able forms to work because otherwise y

[2021-01-28 22:34] eddsalkield opened #29 "Abstraction for generic admin panel use"
Firstly, thanks so much for your amazing work on this project.

I'm looking to build a generic library for admin interface components that tie into CRUD operations within ASGI apps, since one doesn't really exist within the ASGI ecosystem.  Since the `piccolo_admin` Vue app is predominantly built of well-separated components, and relies on a well-defined [API layer](https://piccolo-api.readthedocs

[2021-01-29 01:22] dantownsend commented on #29
Hi @eddsalkield - thanks for your interest in the project.

As you mention, the UI is entirely decoupled from the backend. In theory, any server following the same API spec would work with it.

At the moment the UI files are bundled with the Python package, but they could be split into a separate repo, and put onto a CDN instead.

Piccolo Admin uses Session Auth with cookies and CSRF protection. S

[2021-01-29 06:58] sinisaos commented on #29
@dantownsend  I agree that Session Auth with cookies and CSRF protection, from security wise, the best option. If we decouple Vue app and serve from another domain we lose all that benefit. Auth in SPA apps could be pain and propper implementation [add a lot complexity](https://medium.com/lightrail/getting-token-authentication-right-in-a-stateless-single-page-application-57d0c6474e3). In most case

[2021-01-30 08:24] sinisaos commented on #29
@eddsalkield All suggestions are welcome if you have any idea for improvements or some new feature that will improve the Piccolo admin. Thanks in advance.

[2021-01-30 12:23] eddsalkield commented on #29
Thanks for your responses, and being open to think through my suggestions.

Just to be clear, I'm not suggesting that additional authentication schemes are added - merely that we can separate the concerns of components that deal with authentication from those that implement the `piccoloCRUD` API, by assuming that an appropriate authentication scheme already exists.  The advantage is that of reusab

[2021-01-31 17:13] dantownsend commented on #29
I can see the argument for making the UI reusable across different frameworks and languages.

The challenge is doing it in a way which doesn’t consume too much time, as we’re limited on resources.

I think the best approach for now would be for you to try and implement a backend which conforms with the current API, and keeping it as generic as possible, so the data layer is pluggable.

We can then

[2021-02-03 20:34] dantownsend opened #30 "Improve foreign key selector when dealing with lots of rows"
The foreign key selectors are `select` HTML elements. These are used in the sidebar for filtering, and for changing foreign key values in detail views.

It works fine when the number of values is relatively small. If there are thousands of values, it could become less useful.

<img width="320" alt="Screenshot 2021-02-03 at 20 12 22" src="https://user-images.githubusercontent.com/350976/106803444-2

[2021-02-03 22:44] dantownsend commented on #30
Rather than modifying the `ids` endpoint - it might be better to keep that as is for backwards compatibility, but to implement some kind of cap (say 1000). The new endpoint could be called something like `id-search`.

[2021-02-06 11:39] dantownsend commented on #29
@eddsalkield We recently refactored the backend to use FastAPI - so we now have a proper API spec if it's useful to you.

You can login here:
https://demo1.piccolo-orm.com/
Username: piccolo
Password: piccolo123

And see the full API docs:

https://demo1.piccolo-orm.com/api/docs#/

[2021-02-17 20:42] dantownsend opened #35 "Find a different date time picker"
The date time picker is a pain on mobile - it works OK on Android, but doesn't really work on iOS.

An alternative needs to be found which can work for dates and times, and integrates well with Vue JS.

See the discussion here: https://github.com/piccolo-orm/piccolo_admin/pull/34

[2021-02-17 21:10] dantownsend commented on #12
Will mark this as done for now.

[2021-02-17 21:10] #12 closed

[2021-02-18 08:50] sinisaos commented on #30
@dantownsend Like I wrote yesterday this is my attempt on foreign key selection.

[code]
and `RowForm.vue`

[code]
The biggest problem is that I can't get FK readable (`1` is displayed instead of `Peter Jackson`) in edit form. If you like it i can make PR or you can simply copy/paste and try it. Cheers.

[2021-02-21 23:08] dantownsend commented on #30
@sinisaos Sorry for the slow response.

This looks good - thanks. If you create a pull request, I'll play around with it, and will try and work out the issue with the FK readable.

[2021-03-11 22:50] dantownsend opened #40 "Find a replacement for window.opener.postMessage"
Chrome recently changed how it treats links like `<a href="/some-link" target="_blank">Click me</a>`.

It now sets `window.opener` as undefined on the window / tab which gets opened.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#browser_compatibility
`window.opener` was used by Piccolo Admin to communicate between tabs, so when clicking on the add or edit links above a foreign key s

[2021-03-12 07:08] sinisaos commented on #40
@dantownsend I'm using Chromium and Firefox and can't reproduce this problem, but the fix can be setting `target="_self"` in the `router-link` to open link in the same window (frame) as we have in other edit forms. Sorry if I miss the point.

[2021-03-12 08:26] dantownsend commented on #40
@sinisaos The original idea was if you were editing a really long form, and the last field was a foreign key, there needed to be a way to add a new related object without then having to reload the page, as you would lose everything you've entered into the form.

By using `target="_blank"` it opens it in another window / tab, you edit or create a related object, and when you go back to the original

[2021-03-12 09:54] sinisaos commented on #40
@dantownsend Aha now I understand. Then probably modal is best way to go, but you know what is the best.

[2021-03-12 10:02] dantownsend commented on #40
@sinisaos I think a modal is the best long term solution, but I was hoping there would be a simple one line fix, but doesn't seem so :)

[2021-03-17 13:38] dantownsend commented on #30
Fixed in version 0.11.10

[2021-03-17 13:38] #30 closed

[2021-03-17 14:01] dantownsend opened #42 "Synchronise the filters with the GET parameters"
There's a little known feature in Piccolo admin where you can filter the row listing page using GET params. For example:

[code]
However, these values aren't synchronised with the filter sidebar:

 * When the page loads, the filter sidebar doesn't display the values in the GET params
 * When the filter sidebar values change, the GET params don't update accordingly

Having this work properly would

[2021-04-24 19:24] cheesycod opened #50 "Not working"
The admin panel just gives me a blank page when I try visiting it. No errors in console

[2021-04-24 20:43] dantownsend commented on #50
@cheesycod Is this when running it locally?

What status code are you getting back? Is there any HTML, or is the page just blank?

[2021-04-24 21:38] cheesycod commented on #50
I managed to fix the issue by using Cloudflare Argo. Seems to be a HTTPS issue

[2021-04-24 21:38] cheesycod commented on #50
Also, there is no error, the page was just blank

[2021-04-24 21:38] cheesycod commented on #50
This is on a VPS

[2021-04-24 21:51] dantownsend commented on #50
One thing to be aware of, is there's an `allowed_hosts` argument for `create_admin`:

[code]

This is an extra security measure, related to CSRF, which only gets used when served under HTTPS. So adding the `allowed_hosts` argument may also fix your problem.

[2021-04-25 04:24] cheesycod commented on #50
No, it wasn’t allowed_hosts. The Vue app wasn’t being served correctly unless it was in Cloudflare Argo for some reason

[2021-04-28 13:24] #50 closed

[2021-04-28 13:26] cheesycod opened #51 "Audit Logs and password changing"
Sorry for all the issues,  but would it be possible to add audit logs and password changing to piccolo admin

[2021-04-30 07:11] dantownsend commented on #51
This is definitely something I'd like to add, but it's quite a big feature - I'll have a play around.

[2021-05-19 18:37] cheesycod opened #55 "Using bigint is broken due to json max size"
Using bigint on large bigints like discord snowflakes (like 818294562677588009) causes it to be rounded/corrupted during transfer due to json max size limits.

For bigint, use string and manually parse the integer maybe?

[2021-05-20 21:55] dantownsend commented on #55
Hmm, good catch.

I've been able to replicate the issue, but need to work out how to serialise `BigInt` as a string using Pydantic.

How about using a `Varchar` column instead for storing these values?

[2021-05-21 06:44] dantownsend commented on #55
On further investigation, it might be possible to configure Axios to use something like this:

https://github.com/sidorares/json-bigint

[2021-05-21 09:45] dantownsend commented on #55
Should be fixed now - https://pypi.org/project/piccolo-admin/0.12.1/

[2021-05-23 17:26] cheesycod commented on #55
Cool

[2021-05-23 17:29] cheesycod commented on #55
I would love to do this but this is a legacy codebase which:

1) Doesn’t have checks for it to be a integer and instead relies on the database to ensure it’s a actual integer as well as on asyncpg to return a integer

2) Would be hard to fix and need extra checks and triggers for database consistency  that were once done by just having it be a bigint

3) Could be better spent time in making new fe

[2021-06-02 14:24] cheesycod opened #63 "Ratelimits to prevent mass nukes"
It would be nice if piccolo admin allowed ratelimiting non super users to protect against account compromises.

[2021-06-03 19:57] dantownsend commented on #63
There's currently an option in `create_admin`, which is `rate_limit_provider`. This is just applied to the login endpoint. It's not documented very well at the moment.

Were you thinking of just protecting the login endpoint, or all endpoints?

[2021-06-04 04:25] cheesycod commented on #63
All endpoints

[2021-06-05 06:24] cheesycod opened #64 "Post Edit Hooks"
Sorry for all the issues, but here’s another feature that would be nice. Make it so you can register a callback function for whenever an edit, deletion or addition to a table happens

[2021-06-08 07:42] Anonymous1313-tech opened #66 "Null byte string error!"
I got null byte string error when tried to run piccolo_admin! The problem was in _init_ file! There was string with null bytes! Also version.py was empty!
I downloaded it from pypi!

[2021-06-08 09:26] dantownsend commented on #66
@Anonymous1313-tech Very strange. What system are you on?

I'll investigate.

[2021-06-08 09:29] dantownsend commented on #64
Good idea - I think this would be a nice feature.

[2021-06-08 16:31] Anonymous1313-tech commented on #66
Windows

[2021-06-08 16:33] dantownsend commented on #66
I tried it locally, and it seems to work OK for me.

There were some issues with PyPI earlier on - not sure if when you installed it, it was somehow corrupted?

Can you try reinstalling it? I'll also try installing it on Windows.

[2021-06-08 18:02] dantownsend commented on #66
I tried it on Windows 10, using the following steps:

 * Installed Python from the Windows store
 * Opened PowerShell
 * Created virtual env using `python -m venv piccolo_admin_test`
 * `cd piccolo_admin_test`
 * `.\Scripts\activate`
 * `pip install piccolo_admin` (the latest version from PyPI - 0.13.2)
 * `admin_demo`

Seemed to work OK, but I'm no expert on Windows, so there could still be an is

[2021-06-10 16:29] Anonymous1313-tech commented on #66
It works fine! Tnx!

[2021-06-13 17:29] #66 closed

[2021-06-27 06:15] dantownsend opened #69 "Increase test coverage for `create_admin`"
Just a reminder to myself to increase code coverage for `create_admin`.

[2021-06-27 16:30] dantownsend opened #70 "Better UI for JSON fields"
JSON fields are just treated as strings in the UI.

It would be nice if the UI had an option to show a nicely rendered view of the JSON.

[2021-07-18 09:17] aminalaee opened #72 "Add scripts folder"
Following [this](https://github.com/piccolo-orm/piccolo/pull/133):

- Move all the scripts to the `scripts` folder
- Update github workflows to use the scripts

[2021-07-20 22:22] #55 closed

[2021-07-20 22:34] dantownsend opened #73 "Implement TableConfig class"
Currently, `create_admin` accepts a list of `Table` subclasses. This can be modified to accept either `Table` subclasses, or instances of a new class called `TableConfig`.

`TableConfig` will be a dataclass which accepts a table argument, as well as a bunch of configuration options. For example:

[code]

It will allow more fine grained control of the how the admin looks.

[2021-07-20 23:11] dantownsend opened #74 "Implement custom forms"
One of the main strengths of Piccolo admin is it's ability to turn a Pydantic model into a form in the UI. Currently, these Pydantic models are generated from Piccolo `Table` subclasses.

It would be amazing if a custom Pydantic model can be passed to `create_admin`, and it's rendered as a form in the UI. For example:

[code]

A new section would then be rendered in the sidebar.

<img width="345"

[2021-07-21 21:38] #72 closed

[2021-08-08 21:53] dantownsend opened #78 "When adding a row the errors are still shown, even after successfully saving"
A minor bug:

 * Try adding a row with missing data
 * Validation fails, and hence an error message is shown
 * Fix the validation error, and re-save
 * Saving is successful, but the original error message still shows.

The fix is just to hide any existing error messages once saving is successful.

[2021-08-08 22:13] dantownsend opened #80 "Nullable foreign keys"
There's a bug when trying to add a row with a foreign key. If the foreign key is nullable, and you try and submit an empty value, validation will fail, as Pydantic sees it as an empty string, and not None. The error returned will then be something like `a string isn't a valid type`.

The front end needs modifying to return null in these situations.

[2021-08-08 22:13] #78 closed

[2021-08-08 22:15] dantownsend opened #81 "Make sure Piccolo admin works with custom primary key columns"
When using custom primary key columns, for example:

[code]

There are likely to be some edge cases not currently supported by Piccolo admin.

[2021-08-09 11:16] dantownsend opened #82 "Cypress tests"
When new features are added to Piccolo, a lot of manual testing is involved with Piccolo Admin.

It would be much nicer to have a tool like [Cypress](https://www.cypress.io/), and a simple suite of automated tests.

Initially, having the following would be great:

 * Testing that the login page works
 * Testing that the list page works, with some basic filtering
 * Testing that the detail page wor

[2021-08-12 13:49] sinisaos commented on #69
@dantownsend I have a question. If we omit files which only usage is to serve demo app for admin in` pyproject.toml` like this
[code]
 we can easily achieve coverage over 90. Is this ok or we need to test all files?

[2021-08-12 13:58] dantownsend commented on #69
@sinisaos You're right, those files aren't particularly important, and can be omitted from code coverage.

The tests in general for Piccolo Admin are very light, considering how much it does. A lot of it is covered in Piccolo API, but there are some methods in `AdminRouter` which are custom to Piccolo Admin, and I don't think have any coverage:

 * get_root
 * get_user
 * get_meta
 * get_table_lis

[2021-08-12 17:28] sinisaos commented on #69
@dantownsend  `get_root` and `get_meta` are not problem because is not protected by authentication. Something like this.
[code]

We even don't need this function `get_site_name` because we can get site_name from `get_meta`.

But, the `get_user` and `get_table_list` functions are protected by authentication and testing with client.post() doesn't work because the CSRF token is missing. The best I ca

[2021-08-13 21:07] dantownsend commented on #82
First version Implemented in https://github.com/piccolo-orm/piccolo_admin/pull/84

[2021-08-13 21:07] #82 closed

[2021-08-13 21:10] dantownsend opened #85 "Automate running of Cypress tests"
Now we have some basic Cypress tests, it is worth investigating how we can run these as part of GitHub actions.

Cypress tests can be notoriously slow, so we might not want to run them on every commit - we will have to see what the performance is like.

[2021-08-13 21:14] dantownsend opened #86 "Implement proxying in Vue CLI"
In the current contributing docs, it mentions having to setup a proxy server such as Nginx, so the front end and backend can be consumed from the same domain.

There is a feature built into Vue CLI, which will automatically proxy certain paths.

https://cli.vuejs.org/config/#devserver-proxy

This is easier than having to setup a separate proxy server.

If we implement this change, it might make it

[2021-08-14 06:11] dantownsend opened #87 "Upgrade to Vue 3"
Vue 2 should still be fine for some time, but Vue 3 is definitely a step up. A first step is working out how much work is involved.

[2021-08-14 13:30] cheesycod opened #88 "External oauth (discord etc)"
Would be nice to be able to use discord oauth or another external auth system

[2021-08-14 16:25] sinisaos commented on #86
@dantownsend Although this is a tempting idea it may not be the best solution because if we set up `devServer.proxy` we lose the benefits of FastAPI (`/api/docs/`, `/api/tables/` etc. don't work like warning in Vue docs says). `http-proxy-middleware` is compatible only with this [servers](https://github.com/chimurai/http-proxy-middleware#compatible-servers). I think we should stay on Nginx proxy s

[2021-08-14 21:42] dantownsend commented on #86
@sinisaos Ah interesting, I didn't realise there were those complications.

If you think the Nginx approach is OK, let's keep that for now then.

[2021-08-14 21:42] #86 closed

[2021-08-14 22:06] dantownsend commented on #88
@cheesycod It's a nice idea. My knowledge of OAuth is quite limited. I need to find out if there's an existing async OAuth library for Python which could be integrated.

[2021-08-15 08:47] sinisaos commented on #88
@dantownsend There is library [Authlib](https://docs.authlib.org/en/latest/client/fastapi.html) but I don't think that's within the scope of Piccolo Admin because the admin interface is for administrators, not for the end user. Usually administrator interfaces have a login with a username and password, and Piccolo Admin already has that.

[2021-08-16 10:53] sinisaos commented on #87
@dantownsend I started playing with this. There are a lot of changes, but with [this help](https://v3.vuejs.org/guide/migration/migration-build.html#overview) I managed to log in and logged out to admin, but for now the row listing doesn't work. I think the biggest problem will be with libraries compatibility (e.g. `vue-json-excel` for CSV export doesn't work with Vue3 and I don't see much activit

[2021-08-16 12:03] dantownsend commented on #87
@sinisaos If you could create a PR that would be amazing. The upgrade definitely isn't painless, but the Typescript improvements are worthwhile.

[2021-08-16 13:07] sinisaos commented on #87
@dantownsend Great. I will do PR that you can see changes in code.

[2021-08-19 11:17] cheesycod commented on #88
There are many people who use oauth internally including large companies like google etc.

if not oauth, maybe it could be possible to create a custom auth function or smth?

[2021-09-10 12:56] sinisaos commented on #74
@dantownsend I’ve been playing with this for a few days and I also think it would be a really nice feature. I can display forms with `FormConfig` very much like we do with a `Table` subclasses.

![navbar](https://user-images.githubusercontent.com/30960668/132851258-c1e09225-b004-494e-9e19-725d0c50553f.png)

![emailform](https://user-images.githubusercontent.com/30960668/132851285-7f5ad0c5-1948-4af

[2021-09-10 13:47] dantownsend commented on #74
I'm very excited about this feature.

I was imagining that Piccolo admin would auto generate an endpoint for each form. For example `/api/forms/email` (in a similar way to how we have `/api/table/some_table` for tables). The user would then supply a function for each endpoint which handles the form data.

Originally I thought the user's function could be a FastAPI endpoint, but I think we should a

[2021-09-10 18:21] sinisaos commented on #74
@dantownsend That would be really nice, but how to do that. When the form is submitted data is json, and axios is most commonly used library for ajax and `axios` required path to the endpoint (url) to send json to the backend. This is an example of `endpoints.py` for get list of forms names, the form schema, and for post data.
[code]
Sorry for these long comments, but that makes it easier for me t

[2021-09-10 18:57] dantownsend commented on #74
No worries! I think we would need an endpoint something like we have for schema, which lists all of the available endpoints.

For example:

[code]

[code]

To send data back:

[code]

[2021-09-10 19:08] sinisaos commented on #74
Tomorrow I will do a PR with a working example (which we can delete) for one form so you can look at the code.

[2021-09-21 05:29] sinisaos commented on #69
@dantownsend I think you can close this issue because it’s done.

[2021-09-21 05:44] sinisaos commented on #70
@dantownsend Did you think about simple solution or?

Simple solution may be something like this

[code]
![FireShot Capture 036 - Piccolo Admin - piccolo_admin](https://user-images.githubusercontent.com/30960668/134118076-c14b6218-1f41-4d0f-8ce6-917ae42e5ba6.png)

[2021-09-21 08:35] #69 closed

[2021-09-21 08:58] dantownsend commented on #70
@sinisaos  I think what you've done looks nice.

I'm a bit nervous about matching on a regex though.

It might be better to modify the Pydantic schema so it has a format attribute of 'json' or something like that. Similar to this:

https://github.com/piccolo-orm/piccolo/blob/0f28e07233ea3aa490bbeb0c1b30ada08e4fb2b8/piccolo/utils/pydantic.py#L173-L174

<img width="349" alt="134141281-26da6cd2-4ee2-

[2021-09-21 16:11] dantownsend commented on #70
@sinisaos Exactly, yeah.

I think the change should go into the main Piccolo repo.

At some point we need to modify Piccolo API, so it just proxies to the code in the main Piccolo repo.

[2021-09-21 19:54] dantownsend commented on #70
@sinisaos What do you think of using something like this on the table detail page for editing the JSON?

https://github.com/josdejong/jsoneditor

[2021-09-21 20:06] sinisaos commented on #70
@dantownsend Looks nice. I'll try it tomorrow how it works with editing view.

[2021-09-21 20:06] dantownsend commented on #70
@sinisaos Cool - it might not be a good option, but worth a try.

[2021-09-22 20:11] dantownsend commented on #74
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/92

[2021-09-22 20:11] #74 closed

[2021-09-22 20:12] dantownsend opened #94 "Tweaks to release script"
If trying to release via GitHub there's currently a problem because the node dependencies aren't installed.

[2021-09-23 16:50] dantownsend opened #96 "Form improvements"
I've been using form a lot, and there are a couple of things which could be improved.

`FormConfig` should accept coroutines as well as standard functions.

When there's an error, the banner shows up in green. I think we have the ability to show it in red.

[2021-09-24 04:57] sinisaos commented on #70
@dantownsend Sorry for the late reply. With all the editors I tried, I couldn't save the editing changes because I couldn't set them as an `input` or `textarea`. My solution is simpler without using an external library. Something like this

[code]
and result is

![FireShot Capture 037 - Piccolo Admin - piccolo_admin](https://user-images.githubusercontent.com/30960668/134620381-672131c0-6437-408b-8

[2021-09-24 06:20] dantownsend commented on #70
@sinisaos Yeah, that sounds like a better solution. The libraries were probably overkill.

[2021-09-24 07:16] sinisaos commented on #70
@dantownsend When I am able, I will push commit and include this code.

I will also include a fix for the color of the banner based on the success or error from #96 or this must go in another PR?

[2021-09-24 07:29] dantownsend commented on #70
@sinisaos I think it's me imagining things - I thought the colour of the banner changed if it was an error, but it looks like this code doesn't exist in master.

Should just be a simple modification to this file:

https://github.com/piccolo-orm/piccolo_admin/blob/master/admin_ui/src/components/MessagePopup.vue

Ideally do it as a separate PR, but it's fine either way.

I'll sort out that issue whe

[2021-09-24 07:41] sinisaos commented on #70
@dantownsend I'm already changed that file and i'll make new PR for #96 issue. Cheers

[2021-09-26 06:10] sinisaos commented on #96
@dantownsend Can you please close this issue because it's done.

[2021-09-26 06:10] sinisaos commented on #70
@dantownsend Can you please close this issue because it's done.

[2021-09-26 06:11] dantownsend commented on #96
Fixed by https://github.com/piccolo-orm/piccolo_admin/issues/70

[2021-09-26 06:11] #96 closed

[2021-09-26 06:12] sinisaos commented on #29
@dantownsend Can you please close this issue due to inactivity.

[2021-09-26 13:44] dantownsend commented on #29
@sinisaos Agreed, we can close it for now. Open to revisiting it sometime in the future.

For now, the custom form functionality allows people to use the admin with any data source they like, so we've made progress on this.

[2021-09-26 13:44] #29 closed

[2021-09-27 16:10] sinisaos commented on #73
@dantownsend I'm experimenting with this and this feature could be useful. Something like this can change columns we want to display in admin and that's fine for listing,

[code]
but it's not good for adding end editing records because the changed table (from `__post_init__`) goes into `PiccoloCRUD` and `PiccoloCRUD` create model based on columns in `TableConfig` `list_columns` and another table c

[2021-09-27 17:07] dantownsend commented on #73
@sinisaos Yeah, it's a tricky one.

Rather than excluding the columns from the Piccolo table, it might be better to use an unmodified Piccolo table.

Then add an extra field to the `/api/tables/some_table/schema` response called `visible_columns`.

[code]

The UI will then work as before - we just need a check on the listing page if the column is in `visible_columns`.

For that to work we'll have

[2021-09-27 17:50] #70 closed

[2021-09-28 07:21] sinisaos commented on #73
@dantownsend Great. Thanks. I'll try that approach.

[2021-09-28 07:42] dantownsend commented on #73
@sinisaos The only downside with this approach is we're over fetching from the API. Imagine the table has 20 columns, and we just want to display 2 of them, then we're still fetching all 20.

I don't think it's a big deal initially.

But down the road we could modify `PiccoloCRUD`'s `get_all` method, so we can ask it for a subset of columns. Something like:

[code]

[2021-09-28 08:49] sinisaos commented on #73
@dantownsend You're right, but anyhow we need to fetch all the columns to be able to edit and add new records. I will play with this, and if I need help or advice, I will write here.

[2021-10-04 05:12] sinisaos commented on #73
@dantownsend Trying your approach, I got stuck. So far I have added visible columns to `pydantic.py`

[code]
I also added `TableConfig` to Piccolo Admin `endpoints.py` to change list of visible columns

[code]
I can change the `PiccoloCRUD` pydantic_model in the tables loop and print the correct schema, **but how to change only the `TableConfig` table and leave the rest tables unchanged**

[code]

[2021-10-04 07:46] sinisaos commented on #73
@dantownsend Ideally change for `TableConfig` will happen [here](https://github.com/piccolo-orm/piccolo_api/blob/830a4549907b70f55536884ac7b181b0f1feef28/piccolo_api/crud/endpoints.py#L156#L162), but I don’t know how. Something like this

[code]
Another approach could be to add `visible_columns` in `TableMetaclass` and then user could add visible columns in table definition. Something like this.

[2021-10-04 08:08] dantownsend commented on #73
@sinisaos I like the idea of the `TableConfig` because in the future we could allow the user to customise all sorts of things (e.g. overriding the name which appears in the UI).

When `tables` are passed to `create_admin`, I think they should all be converted to `TableConfig`. It will make the code cleaner.

[code]

[2021-10-04 08:17] dantownsend commented on #73
You should be able to simplify `TableConfig` so it's just this:

[code]
That should simplify things.

[2021-10-04 14:05] sinisaos commented on #73
@dantownsend In order for your example to work I had to change

[code]
to pass all columns to `visible_columns` but the unfortunately problem is stay the same. I don't able to change `visible_columns` for table with columns in `list_columns`. The only way I was able to change the schema is to change the `pydantic_model` property object in the tables loop,

[code]
 but it's a loop and only the last

[2021-10-05 07:38] dantownsend commented on #73
@sinisaos I think this might be the issue:

[code]

It can just be:

[code]

Does that help?

[2021-10-05 08:48] sinisaos commented on #73
@dantownsend Unfortunately no. Without this `visible_columns`

[code]
is empty. We need to do that or add visible columns in here.

[code]
I think if we manage somehow (I don't know how) to pass TableConfig `list_columns` to `pydantic_model` will solve the problem because we can pass the table to `PiccoloCRUD`, and `PiccoloCRUD` will create a schema with the correct `visible_columns`. Something li

[2021-10-05 16:20] dantownsend commented on #73
@sinisaos I'll have to look at it in detail - it sounds trickier than I originally thought.

[2021-10-06 05:50] sinisaos commented on #73
@dantownsend I know you didn't imagine it that way, but if there's no easy workaround for `TableConfig`, we can always put `visible_colums` in `TableMeta` (just like help_text or tags) to display in the UI

[code]
then in `pydantic.py` we add

[code]
and then in Piccolo Admin `RowListing.vue`

[code]
To use that we just add visible columns in Table construction and everything works great.

[code]

[2021-10-06 08:58] sinisaos commented on #73
@dantownsend Thanks. This is just an idea if we fail to solve the problem with `TableConfig`.

If I correctly understand, I think we are safe here because it is just a string and if we enter the column name to `visible_columns` incorrectly it will not be visible in the UI and that's it.

I have to try it and see if there is a error.

[2021-10-06 12:52] sinisaos commented on #73
This doesn't work because NameError is raised. We need to stick to a list of strings. Please can you leave a comment here if you can't solve the `TableConfig` problem. Then I can do PR to Piccolo and Piccolo Admin to make this changes work. Cheers.

[2021-10-12 12:50] dantownsend opened #99 "Nullable timestamp fields"
In the UI, if there's a timestamp field and you try to save it with an empty value, you'll get a validation error.

It's because it's being sent to the API as an empty string, rather than null.

We need to modify it, so null is being sent back instead.

[2021-10-22 10:18] #99 closed, assigned to nobody

[2021-10-27 12:20] dantownsend opened #106 "Make tables and forms collapsible in sidebar"
When you look at the UI for the sidebar, it looks like clicking on `Tables` or `Forms` would hide what's underneath.

<img width="206" alt="Screenshot 2021-10-27 at 13 17 16" src="https://user-images.githubusercontent.com/350976/139063824-a4021332-3d46-4a08-8e77-64472555043a.png">

It would be quite a useful feature, because some apps end up with dozens of tables, which pushes forms off the bottom

[2021-10-27 12:25] dantownsend opened #107 "Prettier sidebar items"
If the table name is really long, it wraps like this:

<img width="239" alt="Screenshot 2021-10-27 at 13 22 01" src="https://user-images.githubusercontent.com/350976/139064455-1766ca12-2bf2-4cc4-aab2-ccb3f161dc9a.png">

It would look a bit nicer if it was like this instead:

<img width="239" alt="139064455-1766ca12-2bf2-4cc4-aab2-ccb3f161dc9a" src="https://user-images.githubusercontent.com/350976/

[2021-10-27 12:36] dantownsend opened #108 "Hybrid foreign key selector"
For foreign key columns, we used to use a HTML select for picking values.

We replaced it with a search box. This was necessary because the page would crash when using a select if the related table had a lot of rows.

<img width="675" alt="Screenshot 2021-10-27 at 13 27 55" src="https://user-images.githubusercontent.com/350976/139065345-bcfe937c-fd07-460f-ba00-e5042f9765cf.png">

In certain situat

[2021-10-27 13:24] dantownsend opened #109 "`TableConfig` media handlers"
This is a big task, but unlocks a lot of great functionality in the admin.

Piccolo doesn't have a particular column type for storing media (images, video etc). It's possible to store them in binary columns, but this is generally frowned upon as it quickly leads to database bloat (and database storage is typically much more expensive than object storage).

The usual approach for storing media is t

[2021-10-27 13:35] dantownsend opened #110 "`TableConfig` name overrides"
If there's a column or a table with a terrible name, it would be nice to override it in the admin.

[code]

[2021-10-27 20:36] dantownsend opened #111 "Loading indicators"
When the network is very slow and / or a lot of data is being pulled from the API, you can see the UI load.

Investigate whether having load spinners improves or degrades the user experience.

[2021-10-27 20:44] dantownsend opened #112 "Filter between"
When filtering a number column, you can specify whether you want `less than`, `equal`, or `greater than`.

It would be great to also have a `between` option. When this is selected, two input fields would be rendered.

<img width="400" alt="Screenshot 2021-10-27 at 21 39 02" src="https://user-images.githubusercontent.com/350976/139143960-1247139e-9058-4463-9deb-be4d6bf4259e.png">

[2021-10-28 19:55] #106 closed, assigned to nobody

[2021-10-28 19:55] #107 closed, assigned to nobody

[2021-10-29 06:00] dantownsend opened #116 "Add JS format settings"
We currently don't have the settings in the docs for the JS auto formatting.

https://github.com/piccolo-orm/piccolo_admin/pull/113#issuecomment-954144015

In my `.vscode/settings.json`, I currently have:

[code]
There is some duplication, as Vetur only formats Vue files, and not standalone TS files.

The purpose of this issue is to try and create a definitive formatting config.

[2021-10-29 07:28] #116 closed, assigned to nobody

[2021-10-29 08:59] sinisaos opened #118 "Release new version of Piccolo Admin to PyPI"
@dantownsend Can you please publish a new version to PyPI because when you `pip install piccolo-admin` you get version `0.17.0` which does not contain new code for `visible_filters`. Thanks.

[2021-10-29 09:14] #118 closed, assigned to nobody

[2021-10-29 09:59] dantownsend opened #119 "Bug with filtering when a column has choices"
There's a bug where the default is 'Null' instead of 'All' for a filter if the column has choices:

<img width="315" alt="Screenshot 2021-10-29 at 10 56 52" src="https://user-images.githubusercontent.com/350976/139415545-46060574-a2eb-4418-8cc1-d1addf58fa09.png">

This can cause filtering to fail.

[2021-10-29 10:28] #119 closed, assigned to dantownsend

[2021-10-29 11:37] dantownsend opened #121 "Clearing filters sets the operators to 'less than'"
When resetting filters, the default should be 'equals' not 'less than'.

<img width="325" alt="Screenshot 2021-10-29 at 12 35 43" src="https://user-images.githubusercontent.com/350976/139427888-c550746a-a4e1-4c7c-8e2b-75f2f3bf7bb5.png">

[2021-10-31 12:18] dantownsend opened #122 "Add an option to auto apply filters"
It would be nice to have an 'auto apply' option in the filter sidebar.

When the option is disabled, the filters are applied by manually pressing the 'apply' button:

<img width="357" alt="auto_submit_disabled" src="https://user-images.githubusercontent.com/350976/139582799-fd206962-7446-4fca-a361-b931a46f50f1.png">

When the option is enabled, the 'apply' button is hidden, and when any of the val

[2021-11-02 14:06] sinisaos commented on #35
@dantownsend I found [vue-datetime](https://github.com/mariomka/vue-datetime) for new nicer datetimepicker and we need a minimal code change to make it work. Firefox and Chromium are OK. I tried in the Epiphany browser which is based on the GTK port of Apple's WebKit rendering engine and they work well. Can you check if it works well on Safari?

[2021-11-03 09:55] sinisaos commented on #109
@dantownsend I did a little research on the internet and this proposed feature is quite different from uploading from html forms. Upload files is not a problem, we can do it like this to upload files to local static folder.
[code]
Result is:

![Screenshot from 2021-11-03 10-32-19](https://user-images.githubusercontent.com/30960668/140036949-ed5531c3-3e73-470b-8e75-5441dafbc19b.png)

The main probl

[2021-11-03 10:29] dantownsend commented on #109
@sinisaos Thanks for doing all that research - it's a good start.

You're right, files get submitted using `multipart/form-data`, so it wouldn't be possible to submit it as JSON.

It's possible to submit files using Axios. Something like:

[code]

The admin would have to detect if files are present in the form, and submit using `multipart/form-data`.

Don't worry about it though - I could sort tha

[2021-11-03 11:50] sinisaos commented on #109
@dantownsend You are right about axios and that's work ok. Here is project from [github](https://github.com/serversideup/uploading-files-vuejs-axios/blob/main/src/components/MultipleFiles.vue) for testing upload. Just replace line 36 with `formData.append('files', file);` and line 39 with `axios.post( '/media/',`  and you can upload files to local static folder with `upload_images` function from p

[2021-11-08 06:57] sinisaos commented on #35
@dantownsend Have you had a chance to try this datetimepicker on Safari?

[2021-11-08 21:10] dantownsend commented on #35
@sinisaos I tried it on Mac and iPad, and it seems to work OK.

[2021-11-11 15:23] trondhindenes opened #126 "LocalProtocolError: Too much data for declared Content-Length"
First of all: Thanks for creating piccolo adn piccolo-admin - it looks really good!!

When using piccolo_admin with Fastapi running in uvicorn, I'm getting this error whenever I delete an object in piccolo-admin.

[code]

Relevant packages:
[code]

[2021-11-11 16:48] dantownsend commented on #126
Hi @trondhindenes.

It's a strange one. I can't replicate it locally, but I have an idea what the problem might be.

I found this [similar issue](https://github.com/tiangolo/fastapi/issues/2253) - it looks like the error occurs when an endpoint returns a 204 status code, and the body contains data (which isn't allowed):

https://github.com/piccolo-orm/piccolo_api/blob/dc139c710e23ae8a01bb47c9b267a

[2021-11-11 17:15] trondhindenes commented on #126
awesome - I patched my local installation with your PR change, and the exception went away.

[2021-11-11 17:16] #126 closed

[2021-11-11 18:13] dantownsend commented on #126
The fix is on PyPI now - `piccolo-api==0.28.1`

[2021-11-11 18:15] trondhindenes commented on #126
thanks for the quick turnaround!

[2021-11-15 13:23] sinisaos commented on #121
@dantownsend I see that you are really busy with the main Piccolo repo and that this bug has been assigned to you. A quick fix would be something like this.
[code]
I can do PR if you don’t mind and if you approve this fix.

[2021-11-15 13:42] dantownsend commented on #121
@sinisaos Yeah, I assigned it to myself as I hoped to fix it before the PyData demo, but didn't have time.

There's a few temporary solutions. Something like what you suggested. Another is just to rearrange the values, so 'Equals' is at the top:

https://github.com/piccolo-orm/piccolo_admin/blob/a43f157e5fbb6b386cccb81b0d2ec6a231011e75/admin_ui/src/components/OperatorField.vue#L19-L40

I'd like to

[2021-11-15 13:59] sinisaos commented on #121
@dantownsend You're right. It should work if we move `Equals` to 0 index in operators array, but I have to try. If it works it is an even simpler and better solution.

[2021-11-15 14:00] dantownsend commented on #121
@sinisaos Yeah, lets just try moving it to the top for now.

[2021-11-16 07:19] dantownsend commented on #121
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/127

[2021-11-16 07:19] #121 closed

[2021-11-17 15:56] dantownsend opened #129 "Docker image"
It would be really cool if we had a Docker image for Piccolo Admin.

It would have environment variables such as: `PG_HOST`, `PG_PASSWORD` etc to tell it how to connect to Postgres.

To determine which tables to connect to, it would either use a config file mounted in a volume, or would accept another environment variable called `PICCOLO_TABLES`. For example `PICCOLO_TABLES=article,post`.

Since P

[2021-11-17 17:49] sinisaos commented on #129
@dantownsend This is a great idea because `Piccolo Admin` can be the admin UI for any existing Postgres database (of course the database must have columns that are supported by `Piccolo ORM`). I don't know anything about Docker so there won't be any help from me, but I like the idea.

[2021-12-07 06:23] abelayalew commented on #81
Am having issue custom primary key in the admin page with page not found error

[2021-12-07 08:00] abelayalew commented on #81
okay thanks, hope it will be fixed soon, am so exited to try everything, its amazing project!!

[2021-12-07 08:22] dantownsend commented on #81
@abelayalew Thanks

[2021-12-09 14:12] #108 closed, assigned to dantownsend

[2021-12-09 23:03] dantownsend opened #133 "Use `__visible_fields`"
We added the `__visible_fields` GET parameter to the API, but we're not currently using it for Piccolo Admin's list page.

[2021-12-10 07:00] sinisaos commented on #133
@dantownsend I know your intention here is to avoid over-fetching api, but this may not work (maybe I'm wrong) because we need all the columns from api to be able to post and edit data in tables.

[2021-12-10 07:18] dantownsend commented on #133
@sinisaos Ah, OK - if it's not possible, then it's fine.

It's not a deal breaker, just a nice to have.

[2021-12-10 08:10] sinisaos commented on #133
@dantownsend  I think you can close this issue because we already discussed it when we created the `TableConfig` feature [here](https://github.com/piccolo-orm/piccolo_admin/issues/73#issuecomment-928938437) and [here](https://github.com/piccolo-orm/piccolo_admin/issues/73#issuecomment-928988199)

[2021-12-11 13:20] #133 closed

[2021-12-12 15:40] simplynail opened #134 "Form fields pre-population"
Custom forms are a great feature and look like a quick way to add some calculations or other custom logic to be run from within the admin.

I've been wondering if there would be a possibility to pre-populate form fields so that the user would not only be able to type into blank fields or use hardcoded selects but rather select from a dropdown that was dyjamically generated i.e. from contents of so

[2021-12-12 16:13] dantownsend commented on #134
@simplynail Yes, I like this idea.

When we render the table forms, we call an endpoint like `/api/tables/some_table_name/new/`. This provides all of the default values. For example:

[code]
As you say, we could add an option to ``FormConfig`` called ``defaults``, which returns a Python dict. We can turn that into an endpoint for fetching the default values.

We could also inspect the Pydantic mod

[2021-12-15 15:49] dantownsend opened #138 "Add `read_only_columns` to `TableConfig`"
We could add a `read_only_columns` option to `TableConfig`. When set, the UI would then render that column's input field as read only in the edit page.

[code]

It's useful because sometime there's stuff you don't want users to be able to modify.

[2021-12-21 21:54] dantownsend commented on #134
In version 0.19.3 we've made some progress on this. If a default value is provided on the Pydantic model, then this is rendered in the UI.

<img width="287" alt="Screenshot 2021-12-21 at 21 53 32" src="https://user-images.githubusercontent.com/350976/147002344-22d40f42-2cc3-453f-8514-06427de97770.png">
<img width="666" alt="Screenshot 2021-12-21 at 21 52 56" src="https://user-images.githubusercont

[2021-12-22 06:33] sinisaos commented on #111
@dantownsend Can you please close this issue because it is done.

[2021-12-22 08:21] #111 closed

[2021-12-23 07:21] sinisaos opened #140 "Problem with left sidebar menu on small screens"
I didn't realise before, but there is problem with left sidebar menu on small screens after latest loading UI changes.

![sidebar](https://user-images.githubusercontent.com/30960668/147203605-c100b89e-36c4-4788-8084-15fc3ab59221.png)

[2021-12-23 07:48] dantownsend commented on #140
@sinisaos Ah, good catch - this was my fault. The sidebar just needs a z-index value adding. Will fix it now.

[2021-12-23 07:54] #140 closed

[2021-12-23 07:57] dantownsend commented on #140
@sinisaos I just pushed a new version to Piccolo Admin. Does this fix the issue for you?

[2021-12-23 12:43] simplynail commented on #134
Great, this looks promising.

In relation to the dynamic defaults/choices generation, could that be done similarly to what you described that is being done for table view?
I understand that you first render blank fields and after that `/api/tables/some_table_name/new/ ` endpoint gets hit from JavaScript and upon receiving api response frontend then consumes returned dict(json) by populating the wi

[2021-12-23 13:19] sinisaos commented on #140
@dantownsend Yes. Issue resolved. Thanks.

[2021-12-23 13:19] dantownsend commented on #140
@sinisaos Cool, thanks a lot

[2021-12-27 11:29] cheesycod commented on #81
has this issue been fixed yet?

[2021-12-28 08:38] dantownsend commented on #81
@cheesycod Not yet unfortunately - we'll prioritise it.

[2021-12-28 09:53] sinisaos commented on #81
@dantownsend I played around with it a bit and it’s not an easy task. If I understood correctly, `PiccoloCRUD` and `FastAPIWrapper` need to be changed to accept `row_id` as a `int` (like is now) or `string` (UUID), but the whole concept of `crud` operations and `relations` between tables is based on a `Serial` type (`Integer`)?

[2021-12-28 10:45] dantownsend commented on #81
@sinisaos Yeah, you're right - the endpoints might need modifying to accept string or integers. I'll take a look to see how feasible it is.

[2021-12-28 12:40] sinisaos commented on #81
@dantownsend I managed to do a `crud` either with an `int` or with a `string`, but not both at the same time. I tried typing the `row_id` with `Any` or `Union[int, str]`, but niether worked. I didn't try FK relations.

[2022-01-11 20:03] dantownsend commented on #81
This should be fixed now if you upgrade to the latest `piccolo_api` version (0.32.3).

Apologies for the delay on this. I'll close this issue for now - if anyone encounters issues with the fix, feel free to leave more comments on this issue.

[2022-01-12 07:08] sinisaos commented on #81
@dantownsend This unfortunately doesn't work. Probably everything is fine with the newest changes in `Piccolo API`, but we will have to change the `Piccolo Admin` as well. I haven't researched too much, but the first problem is that we use the `id` column in `RowListing.vue`
https://github.com/piccolo-orm/piccolo_admin/blob/70220411ce7bf5d785bbe02d5ffec8f4207be4f0/admin_ui/src/views/RowListing.vue

[2022-01-12 07:33] dantownsend commented on #81
@sinisaos Yeah, I was testing the use case where the primary key is still called `id`. Something like:

[code]
You're right, to support primary keys with custom names, we will have to do more work.

The first step is modifying the Pydantic schema so we know the name of the primary key column.

[2022-01-12 21:32] dantownsend commented on #81
With the latest versions of Piccolo / Piccolo API / Piccolo Admin, primary keys with custom names are now supported:

[code]

@sinisaos When you've tested it, if it all seems OK I'll close the issue.

[2022-01-13 07:15] sinisaos commented on #81
@dantownsend Everything works fine. You can close this issue.

[2022-01-13 08:04] dantownsend commented on #81
@sinisaos Great, thanks for your help with this.

[2022-01-13 08:04] #81 closed

[2022-01-23 10:43] cheesycod opened #145 "Editting a item if primary key is a uuid yields a 400 Bad Request"
INFO:     49.207.216.211:0 - "GET /api/tables/reviews/f46aa57c-6254-4e7f-97c8-4e47065439a8/?__readable=true HTTP/1.1" 400 Bad Request

[2022-01-23 10:43] cheesycod commented on #145
This also breaks the actual edit

[2022-01-23 11:16] sinisaos commented on #145
@cheesycod I can't replicate the issue. Do you have install the latest Piccolo dependencies? If you git clone Piccolo Admin repo, Studio table has `uuid` primary key and relation to Movie table and everything work fine. Can you check that?

[2022-01-23 22:20] dantownsend commented on #145
Yeah, as @sinisaos says it's worth updating to the latest Piccolo and Piccolo API. If it's still not working we'll investigate further.

[2022-01-27 14:04] dantownsend commented on #145
Can we close this, or is it still an issue?

[2022-01-27 14:39] dantownsend opened #146 "Chart support"
I'm putting this here as a placeholder to collect thoughts. I don't think it's an immediate priority, but would be cool.

We support form creation using `FormConfig`. We might be able to add something similar called `ChartConfig`. It would initially just be for very simple chart types, like bar, line, and pie.

Here's an example:

[code]

There would be a new section in the sidebar:

<img width="2

[2022-02-11 06:38] cheesycod commented on #145
no longer an issue

[2022-02-11 06:41] dantownsend commented on #145
@cheesycod cool, thanks

[2022-02-11 06:41] #145 closed

[2022-02-13 16:44] cheesycod opened #147 "Custom access control"
Would be nice to have roles and fine grained access control so mods can only view, admins can delete/add specific data etc

I currently do this with middleware but would be nice for some less hacky way:

[code]

[2022-02-13 22:27] dantownsend commented on #147
I agree this would be nice.

It would be a big piece of work though, so needs some thought about how to tackle it in pieces.

[2022-02-18 17:41] dantownsend opened #148 "Update docs theme"
Lets try this new Piccolo theme:

https://github.com/piccolo-orm/piccolo_theme

And give the docs a general tidy up.

[2022-02-22 22:12] #148 closed

[2022-03-14 06:25] sinisaos opened #152 "Wysiwyg editor"
@dantownsend are you perhaps interested in adding wysiwyg editor to textarea fields?

https://user-images.githubusercontent.com/30960668/158114813-3fa9b405-e87e-438e-84a1-5a2395cc145e.mov

[2022-03-14 10:22] dantownsend commented on #152
@sinisaos It's a nice idea. The widget fits in well.

I think something like this should be configurable, rather than always on. In ``TableConfig`` there might be a rich text option or something.

[code]

What widget is it?

[2022-03-14 13:41] sinisaos commented on #152
@dantownsend It is a [Vue2Editor](https://www.vue2editor.com/) based on [Quill](https://quilljs.com/). This feature is only for textarea fields and I think the boolean value is enough

[code]
If you want I can do PR?

[2022-03-14 16:11] dantownsend commented on #152
It's more convenient having a boolean, but I can imagine situations where you only want it for a subset of fields.

Imagine you had a blog post table. You might have a column for the description, which is plain text, and a column for the post contents, which is rich text.

What about:

[code]

[2022-03-14 18:49] sinisaos commented on #152
@dantownsend Makes sense. I will try to do that.

[2022-03-14 18:52] dantownsend commented on #152
@sinisaos Thanks. I think my only concern is it could lock us into Vue 2. I wonder if there are any widgets which work on Vue 2 and Vue 3?

[2022-03-14 19:22] sinisaos commented on #152
@dantownsend I don't know when you plan to switch to Vue 3, but I don't think there should be a problem with any rich text editor (I've tried it with CKEditor and it also works) because when we save form data, we actually use data from the hidden textarea field, and not from the widget. Something like this

[code]

[2022-03-14 21:36] dantownsend commented on #152
Ideally we would use the WYSIWYG library directly, instead of via a third party Vue wrapper.

Here's an example where someone has written their own Vue component which wraps Quill. It would be good to do something like this if possible:

https://pineco.de/wrapping-quill-editor-in-a-vue-component/

[2022-03-15 06:28] sinisaos commented on #152
@dantownsend I can't make this to work. Wrapper does not work on form submit.

For Vue 3 we have several options ([CKEditor](https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/vuejs-v3.html) or [vue-quill](https://github.com/vueup/vue-quill)) and we can use the hidden textarea to submit content. Everything will be fine and the transition should not be difficult.

If yo

[2022-03-15 06:42] dantownsend commented on #152
@sinisaos Yeah, create a PR and I'll take a look. Thanks

[2022-04-05 08:33] dantownsend commented on #152
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/153

[2022-04-05 08:33] #152 closed

[2022-04-18 23:10] dantownsend opened #158 "Add bulk update option"
If would be great if we had a bulk update option, where you select some rows, then can set a value on all of those rows. For example, with blog posts, setting them all from 'draft=True' to 'draft=False'.

[2022-05-12 04:23] virajkanwade opened #159 "Reduce (if) unnecessary dependencies"
I am working on blacksheep + uvicorn project.

But when I install piccolo_admin, it installs lot of other things.

[code]

Not sure about all of them, but my guess is starlette, fastapi, hypercorn are probably not required for blacksheep + uvicorn project.

Can it be made configurable/ optional to keep the footprint small?

[2022-05-12 05:22] sinisaos commented on #159
@virajkanwade Piccolo Admin is FastAPI based admin (which is based on Starlette) and under the hood use PiccoloCRUD (Piccolo API feature) for crud on Piccolo tables. I think all this dependencies is necessary for using Piccolo ecosystem in BlackSheep or any other framework which supports mounting Piccolo Admin.

[2022-05-12 07:50] dantownsend commented on #159
Yeah @sinisaos is right - most of these are required. The only things which we could potentially make optional are uvicorn and hypercorn, but most projects will needs one of those anyway.

[2022-05-12 09:06] virajkanwade commented on #159
Got it.

Thanks

[2022-05-12 09:06] #159 closed

[2022-05-12 09:08] virajkanwade commented on #159
Sorry, one more question:
Is it advisable to use piccolo_admin in production environment? Or should it be only used in dev?

[2022-05-23 23:46] scott2b opened #161 "Feature request: support choices in array fields"
From what I can tell, it seems like this has not been implemented yet, unless I am doing something wrong. It would be nice to have choices dropdown support for arrays the way choices work for individual fields.

For example, I have the following array field with choices being set to an Enum, but it appears to have no effect in the admin UI, whereas for non-arrayed Varchar field we would see a drop

[2022-05-24 17:47] dantownsend commented on #161
Interesting - seems like this isn't implemented in the front end.

[2022-05-25 01:06] scott2b commented on #110
Adding my 2 cents to my plus 1 here: I don't think it is even necessarily "terrible" table names that drive this need. The table name might simply not reflect business terminology at the time. This seems particularly true given Piccolo's apps feature that allows us to abstract functionality in a way that future nomenclature might really be unknown.

Another aspect of using apps which affects this

[2022-05-31 19:08] ethagnawl opened #162 "Secret table option breaks admin API requests"
Given a Piccolo table which looks like the following:

[code]

... and a basic Piccolo admin which is configured using the `tables` kwarg:
[code]

The dashboard's API request for all Thing records results in a 500 response and an error message which states: `Problem fetching thing rows.`

Removing the `secret` kwarg from the table definition solves the problem.

I don't see anything beyond the 500

[2022-06-01 13:44] sinisaos commented on #162
@ethagnawl As far as I understand, the point of the `Secret` column is that it does not display content in the UI because there may be some sensitive data, so the result in the rows for that Secret column is `null`. When it comes to PR, @dantownsend  will be a lot more competent than me.

[2022-06-01 17:00] dantownsend commented on #162
Yeah, @sinisaos is right - having `required=True` and `secret=True` is problematic for the admin.

Having some kind of warning is a good idea. Perhaps here:

https://github.com/piccolo-orm/piccolo_admin/blob/bb2aa3955e55186bb4f1097b950b175b94040c86/piccolo_admin/endpoints.py#L250

@ethagnawl A PR would be very welcome if you're happy to.

[2022-06-02 06:31] trondhindenes opened #163 "add filtering to url so that back button works as expected"
If I'm in a filtered list, and then click an item for details and then click back, I'm taken to the unfiltered view. It would be good if filters were expressed using url query params so that back navigation would take me back to the filtered view.

[2022-06-02 06:45] sinisaos commented on #163
@trondhindenes There is already a [issue](https://github.com/piccolo-orm/piccolo_admin/issues/42) with that problem, but progress has somehow stalled.

[2022-06-02 06:46] dantownsend commented on #163
Yeah, I agree this needs adding. I've increased the priority of the issue.

[2022-06-02 15:53] ethagnawl commented on #162
@dantownsend @sinisaos See #164.

[2022-06-03 18:39] ethagnawl commented on #162
Closed via #164.

[2022-06-03 18:39] #162 closed

[2022-06-05 16:01] sinisaos commented on #158
@dantownsend If you don't mind we can use Javascript `prompt()` to easy achieve this. Very similar to bulk delete. Something like this:
[code]
If you think this idea is acceptable, I can do PR to see all the code.

[2022-06-06 05:59] sinisaos commented on #158
@dantownsend What do you think about this?

[2022-06-13 19:37] ethagnawl opened #167 "Database error text not being shown in admin UI"
I'm seeing some (potentially) unexpected behavior when encountering database-level input validation errors.

For example, if I have a table (app_user) whose `name` column has a uniqueness constraint on it, an admin entering a duplicate name is met with a 500 HTTP response whose "Internal Server Error" body is displayed to the user upon submitting the form. This isn't very helpful to a non-technica

[2022-06-14 06:36] sinisaos commented on #167
We can use generic exception to catch database errors on `post_single`, `put_single` and `patch_single` in Piccolo API crud endpoints like this:
[code]
Result is:
![error](https://user-images.githubusercontent.com/30960668/173509484-5ba19865-00f3-41d8-8b76-c0ca28c41c04.png)

[2022-06-14 10:17] dantownsend commented on #167
@sinisaos Thanks, that could work.

Ideally we would be able to just catch certain exceptions, for example unique errors. There's a [PR](https://github.com/piccolo-orm/piccolo/pull/493) open in Piccolo, but I haven't finished it yet. The idea is it will map the asyncpg or aiosqlite exceptions into generic Piccolo exceptions (for example UniqueException). For now though, this might be our best opti

[2022-06-14 12:04] sinisaos commented on #167
@dantownsend Like you said that would be ideal because they would have the same error message for different db drivers. Once you finish with Piccolo PR you can mention me in the comments and I can do PR in Piccolo API and Piccolo Admin to implement this feature. Something like this
[code]

[2022-06-14 12:31] dantownsend commented on #167
@sinisaos Cool, thanks - that looks good.

[2022-06-14 13:39] ethagnawl commented on #167
Thanks for the prompt response, @sinisaos and @dantownsend! Any of the above would make for a much better UX.

[2022-06-24 20:03] ethagnawl opened #169 "Feature Request: Make custom form message timeout configurable"
I'm using a custom form to allow admins to run a reporting routine and the output _can_ be pretty lengthy. It looks like the [current timeout](https://github.com/piccolo-orm/piccolo_admin/blob/569245afb0c2b6f0ae9bdc54df3f2f6032f7df0a/admin_ui/src/components/MessagePopup.vue#L51-L61) is 3 seconds and that's not enough time for the user to comprehensively review the output.

Would you be open to add

[2022-06-25 04:17] dantownsend commented on #169
I'm not against adding new config options to `FormConfig`.

I gave it a try with a really slow form endpoint to see what happens. The form gets processed OK. It would probably be better if it said 'saving' or something, and disabled the submit button so you can't accidentally submit the form multiple times.

https://user-images.githubusercontent.com/350976/175757226-28218f6b-4eb5-4648-967e-1a17491

[2022-06-25 15:55] ethagnawl commented on #169
Thanks, yet again, for the prompt response, @dantownsend!

That's exactly it. I also think your solve is an even better one that what I'd outlined. Though, I could still make the case for making the CustomForm UI more configurable (the timeout mentioned above, styles, input validation, etc.).

Let me know if you want help with a PR for the "success" page approach. (How would you envision errors be

[2022-06-25 18:41] dantownsend commented on #169
@ethagnawl  If you want to give it a go that would be great. I'm happy to help, or finish if off if you hit any problems.

I think for errors, it's probably OK as it is for now.

[2022-06-28 20:14] ethagnawl opened #170 "get_readable Association Chain Causing Silent Error"
This may be an issue originating with the ORM but I'll start here and will be happy to open a replacement or separate issue in the ORM repository, if the problem is real and multi-faceted.

Given the following Piccolo tables and relationships, something is going wrong on the server-side when viewing the and I see a generic "Problem fetching thing_one rows." shown in UI (500 HTTP response with "Int

[2022-06-28 20:16] dantownsend commented on #169
@ethagnawl It looks good.

I was just thinking about the various ways of doing it. One really simple approach (which for some reason didn't occur to me until now) is to do something like this in `FormAdd.vue`:

[code]

So rather than having a separate component, it's all handled inside that single component.

[2022-06-28 20:18] ethagnawl commented on #169
That _is_ simpler and would still be a nice improvement. I'm all for it.

[2022-06-28 20:45] dantownsend commented on #170
There might be an edge case which breaks readable. It does support joins - I've used it before in some of my apps.

These are the tests we have at the moment.

https://github.com/piccolo-orm/piccolo/blob/master/tests/columns/test_readable.py
https://github.com/piccolo-orm/piccolo/blob/master/tests/table/instance/test_get_related_readable.py

They don't cover every scenario, so there could be a bug

[2022-06-28 20:48] ethagnawl commented on #170
I'll try that query and also try to write a failing test tomorrow morning and follow up.

[2022-06-28 21:08] dantownsend commented on #170
Cool, thanks

[2022-06-29 15:13] ethagnawl commented on #170
The queries seems to work as expected:

[code]

However, when running a modified version of the example.py script from the repository using my contrived tables, I see the following exception occur in the scenario I'd outlined (viewing the index page for "Thing Four"):

[code]

So, I think if there is an issue here, it's with the ORM. I'll have to pick this up later but at least I've found a thread

[2022-06-29 15:36] dantownsend commented on #170
@ethagnawl Thanks for investigating this - you're right, it does look like an ORM problem.

[2022-07-03 08:31] dantownsend commented on #170
@ethagnawl This should be fixed now in Piccolo 0.80.1.

[2022-07-03 08:31] #170 closed

[2022-07-03 12:17] ethagnawl commented on #170
Thanks, @dantownsend! :grin:

[2022-07-03 14:26] tigerline86 opened #172 "WYSIWYG for admin"
Hello!
Could you tell me please, how i make override rich_text_columns
I want to use TinyMCE editor for Text columns!

[2022-07-03 15:15] sinisaos commented on #172
@tigerline86 In Piccolo Admin, we use the [vue2-editor](https://www.npmjs.com/package/vue2-editor) that uses Quill under the hood (among the most popular WYSIWYG editors for Vue). You can't override the vue2-editor, but you can integrate TinyMCE yourself (or another editor because the content is saved [here](https://github.com/piccolo-orm/piccolo_admin/blob/2fbdec3a63c919bc4c140b75ec5469b4921e78d0

[2022-07-03 21:52] dantownsend commented on #172
Yeah, it's hard for us to support multiple rich text editors, because the front end of Piccolo Admin is a Vue JS application, and each rich text editor we include increases the JavaScript bundle size quite dramatically.

We went for Quill, as it was quite easy to integrate, and looks decent.

The suggestion by @sinisaos works, but would mean forking the codebase. There's no easy way to configure a

[2022-07-04 09:15] #169 closed

[2022-07-04 10:49] dantownsend opened #173 "Add translations"
Originally discussed here: https://github.com/piccolo-orm/piccolo/issues/556

We will have a new file called `translations.py` which will contain dictionaries mapping the English word to its translation. For example:

[code]

As a starting point, these are the translations we need most:

* Home
* Tables
* Log out
* Light Mode
* Dark Mode
* About
* Add Row
* Sort
* Show filters
* Export CSV
* Back

[2022-07-04 12:25] tigerline86 commented on #172
thank you for answers!

highlighted in green in the screenshot
![Screenshot from 2022-07-04 15-16-36](https://user-images.githubusercontent.com/26675095/177153795-f1029f0f-40be-459a-b789-0a92cd13da4e.png)

and i use direct html editing

currently i need to change html in the database, i think this is a bad appoach

[2022-07-05 10:01] sinisaos commented on #109
@dantownsend I forgot about this, but yesterday I played a bit with uploading multiple images per record and this is the result.

https://user-images.githubusercontent.com/30960668/177300311-afdb7d21-eb6f-406e-81f7-68558a55a37f.mp4

I used [Cloudinary](https://cloudinary.com/) because they have a free quota (I don't have an AWS account, so I haven't tried it, but as far as I can see, Cloudinary's

[2022-07-05 10:26] dantownsend commented on #109
I guess Cloudinary uploads images from the front end. It looks cool - I like the UI you've built too.

The advantage of the S3 API is many other cloud providers have S3 compatible storage. At the moment I'm using [OVH](https://www.ovhcloud.com/en-gb/public-cloud/object-storage/) because it's S3 compatible and pretty cheap.

Having all of the file uploads handled on the backend will be harder, but

[2022-07-06 14:47] ethagnawl commented on #169
Thanks, @dantownsend! :pray:

[2022-07-06 15:58] sinisaos commented on #173
@dantownsend One question. If the translations are only going to be used in Piccolo Admin, why don't we use the standard tool for this in Vue, which is the [Vue I18n](https://kazupon.github.io/vue-i18n/). We just need to add the translation to e.g. `german.json` (same as we need to add translated words to `translations.py`) and everything is ready for internationalization. With Vue I18n we don't n

[2022-07-06 16:22] dantownsend commented on #173
@sinisaos I haven't used that library, but if it works, and it's not too large of a dependency, then I'm happy to use it.

[2022-07-06 16:46] sinisaos commented on #173
@dantownsend Today I tried this library for the first time when I saw this translation issue and it is easy to use. Bundle size is [here](https://bundlephobia.com/package/vue-i18n@8.27.1).

[2022-07-06 19:33] sinisaos commented on #173
@dantownsend If you want, I can do a PR tomorrow so you can see what it's all about (the library is easy to use and everything works great). I would also add a Croatian translation.

[2022-07-06 19:41] dantownsend commented on #173
@sinisaos Yes, that would be great - thanks!

[2022-07-07 05:39] sinisaos commented on #172
@dantownsend We are limited here. I can only configure Quill to this.

https://user-images.githubusercontent.com/30960668/177699589-021ba46f-56cd-42e2-802a-08dd1e9a81af.mp4

Based on an online search, the default Quill configuration doesn't work properly in Vue or React and I don't know why). If you are happy with this, I can make these changes.

[2022-07-07 08:40] dantownsend commented on #172
@sinisaos Interesting.

Maybe we should just drop the font-family - not sure how useful this actually is (unless you're writing a code snippet and want a mono font). What do you think?

Similarly with the font size - not sure how useful that is.

I think the heading option is useful though, does that wrap the output in h1 / h2 / h3 tags etc?

I think we can assume that people using the rich text e

[2022-07-07 10:09] dantownsend commented on #172
@sinisaos Yeah, let's add the headings option. I think it makes the rich text editor more useful for writing blog articles etc.

[2022-07-07 10:21] sinisaos commented on #172
@dantownsend Ok. I will change that.

[2022-07-07 16:31] tigerline86 commented on #172
I think that such code editors are just used by people who are not familiar with programming. And it's convenient for them to just press a button and get the result.

Do you think it can give you the opportunity to choose a code editor when creating a project through the CLI? Is it difficult to implement?

[2022-07-07 17:11] sinisaos commented on #172
@tigerline86 This is hard to do because Piccolo Admin is a Vue JS application (different from e.g. Django), and as @dantownsend  says, every rich text editor we include increases the size of the JavaScript bundle dramatically ([TinyMCE](https://bundlephobia.com/package/tinymce@6.1.0), [CKEditor](https://bundlephobia.com/package/ckeditor4@4.19.0)). Piccolo Admin is more like a React Admin that only

[2022-07-07 21:18] dantownsend commented on #172
Yeah, I think it's unlikely we'll have multiple different WYSIWYG editors. But we can make sure the one we do have is really good. Quill seems pretty good - just need to make sure we configure it properly. Maybe we'll swap it out at some point if we find something better.

[2022-07-08 09:01] dantownsend commented on #158
Implemented by https://github.com/piccolo-orm/piccolo_admin/pull/166

[2022-07-08 09:01] #158 closed

[2022-07-08 09:04] dantownsend opened #177 "Bulk modify - use new API"
We added the ability to bulk modify rows:

https://github.com/piccolo-orm/piccolo_admin/issues/158

Once we've merged these changes into Piccolo API, we should use the new API for bulk updates:

https://github.com/piccolo-orm/piccolo_api/pull/145

[2022-07-08 09:05] dantownsend commented on #51
Password changing has now been added - but you can just change your own password at the moment.

[2022-07-08 09:10] dantownsend commented on #94
This is something which we really need to get fixed, as releasing new versions is done manually at the moment.

It means we don't have release notes on GitHub, which would be especially useful for Piccolo Admin, as we could include screenshots of new features.

[2022-07-08 09:46] sinisaos commented on #177
@dantownsend I can do that if you want because I already have the code for it.

[2022-07-08 09:53] dantownsend commented on #177
That would be great thanks!

[2022-07-11 13:57] dantownsend opened #179 "Run an action on an object creation/update"
### Discussed in https://github.com/piccolo-orm/piccolo_admin/discussions/178

<div type='discussions-op-text'>

<sup>Originally posted by **Anton-Karpenko** July 11, 2022</sup>
Hey, is it possible to run a certain action when a new instance is created via the admin panel?

</div>

[2022-07-11 15:37] #179 closed

[2022-07-12 17:08] tigerline86 opened #181 "Image upload"
Hello!
Please tell me if there are any built-in mechanisms for uploading images in the admin panel?

[2022-07-12 17:51] sinisaos commented on #181
@tigerline86 For now, there is no such possibility. There is already a issue #109 about that. I was able to upload images from the frontend using the Cloudinary widget (there is video about that), but we think that upload from the backend would be a better option because that way the user can write their own adapter to work with any storage provider they want (including  local storage).

[2022-07-12 17:52] dantownsend commented on #181
Yeah, as @sinisaos says, we're working on it at the moment.

One hack is to use a rich text field, and add images there.

[2022-07-12 17:59] sinisaos commented on #181
@dantownsend That's right. Quill is very good for this because you don't have to do any extra configuration to upload images. Everything simply works out of the box.

[2022-07-21 10:03] sinisaos commented on #172
@dantownsend You can close this as it is done.

[2022-07-21 10:03] sinisaos commented on #173
@dantownsend You can close this as it is done.

[2022-07-21 10:04] #172 closed

[2022-07-22 09:37] dantownsend opened #184 "Add extra languages to translations"
We recently add translation support to Piccolo Admin.

We'd love to add support for more languages. To do so, simply copy and modify one of the existing languages:

https://github.com/piccolo-orm/piccolo_admin/blob/master/piccolo_admin/translations/data.py

[2022-07-25 07:01] olliglorioso commented on #94
https://github.com/piccolo-orm/piccolo_admin/pull/186
Does this fix the problem, or did I understood something wrong?

[2022-07-25 12:40] dantownsend commented on #94
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/186

[2022-07-25 12:40] #94 closed

[2022-07-25 12:43] dantownsend commented on #64
*Current status*

We now have pre-edit hooks.

`TableConfig` accepts a `hooks` argument:

https://piccolo-admin.readthedocs.io/en/latest/table_config/index.html#source

We only have a pre-save hook at the moment. Need to add a post-save hook still.

[2022-07-28 06:04] Saeed-Paris commented on #184
hi i can add persian language and cuz its rtl i can make styles trl too.(if u want)

[2022-07-29 08:59] dantownsend commented on #184
@Saeed-Paris That would be great, thanks!

I don't have much experience with RTL languages - I don't know how difficult it will be to implement.

[2022-08-05 20:50] dantownsend opened #192 "Move `MediaStorage` / `LocalMediaStorage` / `S3MediaStorage` to `piccolo_api`"
I would like to integrate our media storage code with `PiccoloCRUD` at some point. So really, the media storage code should live in Piccolo API (otherwise we will have circular dependency between `piccolo_admin` and `piccolo_api`).

So everything in `piccolo_admin/media` should move to `piccolo_api/media`. Likewise, with the associate tests.

The docs can stay as part of Piccolo Admin for now. We

[2022-08-05 20:52] dantownsend commented on #192
@sinisaos What do you think about this?

Just wondering whether to do it before releasing the next version of Piccolo Admin.

[2022-08-05 21:01] sinisaos commented on #192
@dantownsend I think it's a good idea because, as you said, we will prevent circular dependency, but as I mentioned before, it would be very nice and useful for the end user, because they would have everything prepared on the backend and only need to make the frontend.

[2022-08-06 08:04] sinisaos commented on #192
@dantownsend If you want I can make these changes in Piccolo API and Piccolo Admin? Of course, you'll have to check if I did everything right.

[2022-08-06 08:04] dantownsend commented on #192
@sinisaos If you wouldn't mind, that would be great - thanks

[2022-08-06 08:19] sinisaos commented on #192
@dantownsend I will do it during the day.

[2022-08-06 19:32] dantownsend commented on #192
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/193

[2022-08-06 19:32] #192 closed

[2022-08-06 19:33] dantownsend commented on #181
This has been implemented now:

https://piccolo-admin.readthedocs.io/en/latest/media_storage/index.html

[2022-08-06 19:33] #181 closed

[2022-08-06 19:35] dantownsend opened #194 "Update image or button for media storage"
I just realised that the screenshot in the media storage docs no longer reflect how the UI actually looks.

<img width="781" alt="Screenshot 2022-08-06 at 20 32 09" src="https://user-images.githubusercontent.com/350976/183263677-901c1fd2-47fd-40a3-9e8b-afed15875f95.png">

The options are: add a new screenshot and / or make the button UI match.

[2022-08-06 20:37] sinisaos commented on #194
@dantownsend We can show upload buttons like [this](https://github.com/piccolo-orm/piccolo_admin/pull/189#discussion_r937436404).

[2022-08-08 17:33] sinisaos commented on #194
@dantownsend What do you think about this. Does that look good to you?

[2022-08-08 22:02] dantownsend commented on #194
The problem with using native input select widgets, is they do look out of place. But I think having a big button could be confusing, as it looks visually too similar to the main save button.

Maybe the button is just underlined text, instead of a solid button.

Maybe we just update the docs for now in a quick PR, and then think about a better design?

[2022-08-08 22:07] dantownsend opened #196 "Make media upload endpoints obey `read_only` option"
Piccolo Admin can be used in `read_only` mode - it's mostly used for demos, and in situations where you really don't trust the end user.

We added media upload support, which means there are now two new endpoints.

The changes required are to these two methods:

https://github.com/piccolo-orm/piccolo_admin/blob/e94736b6135dc1d3b1b2563f5f62976cd244fdcc/piccolo_admin/endpoints.py#L648-L690

We need

[2022-08-11 22:04] dantownsend commented on #196
Fixed by https://github.com/piccolo-orm/piccolo_admin/issues/196

[2022-08-11 22:04] #196 closed

[2022-08-27 12:58] dantownsend opened #204 "Add link to source code from docs"
The approach is basically the same as this:

https://github.com/piccolo-orm/piccolo/pull/601/

[2022-08-27 21:30] LeMeteore commented on #85
What about something like:
[code]

Or something like:
[code]

[Doc](https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution)

[2022-08-27 21:46] LeMeteore commented on #184
I would like to _respectfully_ improve one or two things in the french translations:
[code]

[2022-08-27 21:52] dantownsend commented on #184
@LeMeteore Yes, please do! The French translations were machine translated, so not the best.

[2022-08-27 22:13] dantownsend commented on #85
@LeMeteore Yes, that could work. We need to integrate it with this somehow: https://github.com/cypress-io/github-action

What makes this a bit more challenging is in order to run the Cypress tests, we also need the Python REST API running. There's some info on that [here](https://piccolo-admin.readthedocs.io/en/latest/contributing/index.html). cc @sinisaos who originally wrote the Cypress tests.

[2022-08-29 17:14] LeMeteore commented on #85
This if what I've tried so far.
- [the yaml file](https://github.com/LeMeteore/piccolo_admin/blob/github-action-for-cypress/.github/workflows/cypress.yaml)
- [the error](https://github.com/LeMeteore/piccolo_admin/runs/8074848398?check_suite_focus=true):

[code]
The problem seems to be: I need to be in the admin_ui folder to start the Cypress tests. In the mean time, when I try to launch the Python

[2022-08-29 17:53] dantownsend commented on #85
@LeMeteore Ah, interesting!

You might be able to do something like this to get the python server working from the `admin_ui` directory:

[code]

[2022-08-29 19:42] sinisaos commented on #85
@dantownsend Your solution locally works.
I was also able to start the server from `admin_ui` with `python ../piccolo_admin/example.py`.
Cypress tests need to be updated (3 out of 4 don't work, but only small changes need to be made) and I also find that custom forms don't work because `media_columns` is undefined and the form input fields don't render (`Error in render: "TypeError: Cannot read pr

[2022-08-29 19:57] dantownsend commented on #85
@sinisaos You're right - there's a bug with custom forms. This is a good example of how the Cypress tests will help us.

I don't think I caught this, because it only happens if you go straight to the custom form (if you click on a table first, the bug doesn't appear).

I'll have a look.

[2022-08-29 20:06] sinisaos commented on #85
@dantownsend Yes. Cypress discovered that bug. If @LeMeteore  manages to integrate Cypress into GH actions it will be great.

You're right. That's strange.

[2022-08-29 20:11] dantownsend commented on #85
@sinisaos I think I have a fix - will push it now.

[2022-08-29 20:11] dantownsend opened #207 "Fix bug with custom forms and media columns"
Custom forms don't work because `media_columns` is undefined and the form input fields don't render (`Error in render: "TypeError: Cannot read properties of undefined (reading 'media_columns')`).

![custom_forms](https://user-images.githubusercontent.com/30960668/187284317-ec8aec1f-5ae7-4c74-bede-9b61f8fa5d7c.png)

_Originally posted by @sinisaos in https://github.com/piccolo-orm/piccolo_admin/iss

[2022-08-29 20:30] #207 closed

[2022-08-29 20:52] sinisaos commented on #85
@dantownsend Everything works now. I will update the Cypress tests and made PR tomorrow.

[2022-08-29 20:56] dantownsend commented on #85
@sinisaos Thanks. The custom form test is failing because we made two changes:

 1. The 'Title' input now has a default value of 'Enquiry'
 1. When a form is successfully submitted we now redirect to a success page.

To solve issue 1, we just need to change this in `CustomForm.spec.ts`:

[code]

[2022-08-29 21:07] sinisaos commented on #85
@dantownsend Yes. I've already changed that and there are a few minor changes to the other tests. Tomorrow I will do PR.

[2022-08-30 13:41] LeMeteore commented on #85
I think I have something interesting for you guys :partying_face:
https://github.com/LeMeteore/piccolo_admin/runs/8093345638?check_suite_focus=true

[2022-08-30 14:32] dantownsend commented on #85
@LeMeteore That's great, thanks!

I looked at the output, and the reason the tests are failing is Cypress can't connect to `piccolo_admin/`.

We use session authentication, so have to run the front end and API on the same domain. The way we achieve this during local development is to run Nginx with a [virtualhost file](https://github.com/piccolo-orm/piccolo_admin/blob/master/extra/piccolo_admin) w

[2022-08-30 16:09] LeMeteore commented on #85
I won't deny, I don't know what I'm doing right now, never used/played with Cypress :) This is where I am right now:
[code]

I set the baseUrl to `localhost:8000` because Cypress kept looking for something running at `localhost:3000` :\
[Complete file](https://github.com/LeMeteore/piccolo_admin/blob/github-action-for-cypress/.github/workflows/cypress.yaml)

Also, I'm using a [shell script](https:/

[2022-08-31 17:14] dantownsend commented on #85
Yeah, the scripts folder should be fine.

I haven't tried getting GitHub actions to run Nginx - would be cool if it worked though.

[2022-09-01 10:42] LeMeteore commented on #85
Spent some hours trying really weird things to make it work lol. I'm progressing though \o/ haha :)
tldr:
[code]

[2022-09-01 11:08] LeMeteore commented on #85
Good \o/
https://github.com/LeMeteore/piccolo_admin/runs/8133622008?check_suite_focus=true

[2022-09-01 13:34] #204 closed

[2022-09-01 17:31] dantownsend commented on #85
Cool!

I wonder why it can't find that HTML element 🤔

I wonder if we can access the screenshots to work out what the cause is?

[2022-09-01 19:52] dantownsend opened #211 "Try `piccolo_admin` with Starlite"
It was reported that Piccolo Admin doesn't work with the Starlite framework.

It should be possible to mount Piccolo Admin:

https://starlite-api.github.io/starlite/usage/2-route-handlers/3-asgi-route-handlers/

Tasks required:

- [ ] Try getting Piccolo admin working with Starlite
- [ ] If it doesn't work, try and work out why

[2022-09-01 22:21] dantownsend commented on #167
Sorry, progress on this stalled. Going with something similar to @sinisaos solution (https://github.com/piccolo-orm/piccolo_api/issues/186). It will now show a proper error message if a unique constraint fails rather than just a 500.

[2022-09-02 07:16] sinisaos commented on #211
@dantownsend I [already tried](https://github.com/starlite-api/starlite/issues/107) that because I wanted to make a Starlite asgi template for Piccolo ORM but I didn't succeed. I hope you know better how it could be done.

[2022-09-02 07:18] dantownsend commented on #211
@sinisaos  Ah, cool! Thanks for giving it a go.

[2022-09-02 09:11] sinisaos commented on #85
@LeMeteore thanks again for your efforts, you managed to make the integration. Tests runs ok locally. I'm not a Cypress expert, but maybe we need to add  wait at the start of the test because maybe the page isn't loaded which could be the problem.

[code]

[2022-09-02 10:46] LeMeteore commented on #85
I honestly don't know :smile: I was thinking about changing the browser or maybe using using more than one browser.

Access the screenshots ? In headless mode ? :thinking:

It was a pleasure to help. Thanks for your guidance and your moral support.

:partying_face:

I will let you guys handle this part :smile:

[2022-09-02 10:48] LeMeteore commented on #85
The original idea was to make this job run only under some conditions. What is your final take on this please ?

[2022-09-02 10:54] dantownsend commented on #85
Ideally we will run it like the other tests (each time a commit is pushed to a pull request).

It depends how long it takes to run though. If > 5 minutes, we might have to reconsider when to run it.

It would be useful to create a PR so we can see how it all hangs together. It's up to you whether you want to continue experimenting, or we can try and tweak the last few bits. 👍

[2022-09-02 11:11] dantownsend commented on #167
In Piccolo API 0.47.0 this should be fixed.

I'll create some follow up tasks, as there's still more we can do with error messages in Piccolo Admin.

[2022-09-02 11:11] #167 closed

[2022-09-02 11:17] dantownsend opened #213 "Improve error messages in Piccolo Admin"
If we get an error response back from the server when saving a row, we show the response in the UI.

This is if we get a validation error from Pydantic:

<img width="702" alt="Screenshot 2022-09-02 at 12 13 43" src="https://user-images.githubusercontent.com/350976/188127742-8d808366-d2b0-4b03-bc4b-739289e5e2e9.png">

This is if we get a database error:

<img width="748" alt="Screenshot 2022-09-02

[2022-09-02 17:35] LeMeteore commented on #85
I've added a part to save the png and mp4 artifacts, I've added a timeout for the whole job. I move the shell script to the scripts folder. I sent a PR.

Please do :smile: I'm not able to deal with "why the tests are failing".

It was my pleasure to help, I'll defintely come back from time to time to help here and there (Python parts) if I can.

o/

[2022-09-02 20:07] sinisaos commented on #213
@dantownsend Maybe the error messages could look like this?

![db_errors](https://user-images.githubusercontent.com/30960668/188227966-20517961-5bdf-4819-9fec-db14495be77c.png)

and pydantic validation errors like this

![pydantic](https://user-images.githubusercontent.com/30960668/188228571-a4e32ff4-e194-4a58-8482-e6ca292af8c1.png)

[2022-09-02 20:48] dantownsend commented on #213
Yes, something like that. I think the only problem is it looks visually very similar to a button.

Maybe red text will work, without a background?

[2022-09-03 06:40] sinisaos commented on #213
If we use only the text, then we can display the entire error message so the user knows what the problem is, like this

![pydantic_error](https://user-images.githubusercontent.com/30960668/188259124-2ca378a3-b3a2-4527-9537-e510f124ca2a.png)

or

![db_error](https://user-images.githubusercontent.com/30960668/188259135-4d1dd376-8736-42db-9fab-285ae1b753de.png)

[2022-09-04 19:26] dantownsend commented on #85
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/215

[2022-09-04 19:26] #85 closed

[2022-09-04 22:47] dantownsend opened #216 "Write a Cypress test for media uploads"
We recently added media upload support to Piccolo Admin.

You can see here in the UI (running `python -m piccolo_admin.example`):

<img width="698" alt="Screenshot 2022-09-04 at 23 44 35" src="https://user-images.githubusercontent.com/350976/188336270-bed73f51-4dcf-4975-8d45-a8a109104e8d.png">

It would be good to have Cypress tests for these. To learn more, see our [contributing docs](https://pic

[2022-09-05 12:21] dantownsend opened #217 "Fix `admin_demo` script"
When `piccolo_admin` is installed, an `admin_demo` script is made available on the command line, which launches a Piccolo Admin demo.

It's not working at the moment, since we added support for media storage. The fix is simple - we just need to add the `example_media` folder.

[2022-09-05 12:28] #217 closed

[2022-09-06 17:21] sinisaos commented on #213
Or maybe like this so it looks different from the button.

![error](https://user-images.githubusercontent.com/30960668/188699721-f6d58c0e-514a-4cff-b2ba-479f9827d558.png)

[2022-09-06 20:14] dantownsend commented on #213
Yeah, that could work. Do you think we need the close button? It balances the design nicely, but I wonder if someone would want to hide it.

How about adding a warning icon too?

![188699721-f6d58c0e-514a-4cff-b2ba-479f9827d558](https://user-images.githubusercontent.com/350976/188729609-33739dc2-027e-4a98-8378-d21eaeda8c4e.png)

[2022-09-07 05:03] sinisaos commented on #213
@dantownsend You are right. I made a PR so you can play with this too. Feel free to make changes.

[2022-09-08 12:12] dantownsend opened #221 "Write Cypress test for bulk updates"
### Why

We're trying to increase the test coverage we have using Cypress - it helps us develop with much more confidence.

### What the test needs to do

Tick some checkboxes:

<img width="1063" alt="Screenshot 2022-09-08 at 13 08 55" src="https://user-images.githubusercontent.com/350976/189118488-069c4021-4ba0-4725-9ced-d2fceee30f88.png">

Click on the `update 8 rows` button:

<img width="1059"

[2022-09-08 13:35] dantownsend opened #222 "Allow camelcase column names"
### Discussed in https://github.com/piccolo-orm/piccolo_admin/discussions/220

Even though it's unusual in Python, if someone uses camel case when naming their columns it can break parts of Piccolo Admin:

[code]

Piccolo Admin assumes that all column names are lower case.

[2022-09-08 15:26] dantownsend opened #224 "Update Cypress"
We're running an older version of Cypress - update it to the latest.

[2022-09-08 15:33] #224 closed

[2022-09-08 15:37] dantownsend opened #226 "Cypress - restart Python server before each test"
Our process for running Cypress tests at the moment is:

[code]

Ideally, between each test we would restart the Python web server, so we start from a blank slate each time. Otherwise some tests may modify the database which effects later tests.

- [ ] Work out if it's possible
- [ ] If so, implement it

[2022-09-08 15:54] dantownsend opened #227 "Investigate Cypress component testing"
We previously experimented with Storybook, which is useful, but if we could test our UI components in Cypress it would be great (as we now have it integrated with GitHub Actions).

https://docs.cypress.io/guides/component-testing/writing-your-first-component-test

For this issue, find a simple Vue component in Piccolo Admin, and write a component test for it.

[2022-09-08 18:41] dantownsend opened #228 "Fix storybook"
One of the stories isn't working at the moment.

[2022-09-08 18:48] #228 closed

[2022-09-08 23:24] dantownsend commented on #213
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/219

[2022-09-08 23:24] #213 closed

[2022-09-09 07:11] dantownsend commented on #221
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/230

[2022-09-09 07:11] #221 closed

[2022-09-10 09:52] dantownsend commented on #216
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/231

[2022-09-10 09:52] #216 closed

[2022-09-13 16:50] sinisaos commented on #211
@dantownsend I tried mounting Piccolo Admin on the Starlite app again, but again no luck. I think it would be useful as Starlite supports Piccolo ORM via a plugin (or we can use controlers and both ways work) and it would be great if Piccolo Admin could be used as an important part of the Piccolo ecosystem. I tried two things with the @asgi decorator. First I tried changing the scope path as advis

[2022-09-13 20:21] peterschutt commented on #211
In that case OP was trying to mount another `Starlite` application instance that didn't have routes registered under the url prefix that the app was being mounted under.

Not sure what the issue is here but I'll try to have a look at this one today.

[2022-09-14 06:19] sinisaos commented on #211
@peterschutt Thank you very much for your reply. If you find time, it would be great if you try to integrate Piccolo Admin and Starlite. For now, Piccolo Admin is working with Starlette, FastAPI, BlackSheep and Xpresso, but all these frameworks have the ability to mount another asgi app on the application instance, which is not the case in Starlite. The only way seems to be the one I tried, but un

[2022-09-14 13:54] peterschutt opened #232 "Bug: (i think) Local editable installs don't seem to work"
Trying to debug an app that depends on this library, normally I would do something like this in `pyproject.toml`:

[code]

However I get an error like this:

[code]

Which is caused by the import from `.version` in `__init__.py` alongside imports from `.endpoints`. The `.endpoints` module imports from dependencies that don't yet exist as the `setup()` function has yet to be called in `setup.py` wh

[2022-09-14 20:42] #232 closed

[2022-09-14 21:07] dantownsend commented on #211
@sinisaos Do you have a demo Starlite project on GitHub? If so I'll download it and have a go.

[2022-09-14 21:33] peterschutt commented on #211
@dantownsend this is what I've been experimenting with: https://github.com/peterschutt/starlite-hello-world/tree/piccolo-admin

There's some instruction in `app/main.py` to get it running.

Running the starlite app, it will serve the root page, but all the static links (and probably api links) that come from the static apps and private/public apps that are mounted inside the admin app would need t

[2022-09-14 21:34] peterschutt commented on #232
Too good! I'll try now.

[2022-09-15 04:45] sinisaos commented on #211
@dantownsend No. I just changed the Starlette template to work with Starlite. You can download the zip file and `pip install Starlite` (forgot to add in `requirements.txt`). Use it like any Piccolo asgi template (running migrations etc.).

[tasks.zip](https://github.com/piccolo-orm/piccolo_admin/files/9571866/tasks.zip)

[2022-09-15 23:48] dantownsend commented on #211
I've looked into it - comparing how Starlite works vs Starlette.

I mounted Piccolo Admin in each, and looked at the ASGI scope.

The `root_path` and `path` values are opposite:

[code]

In Starlette it's not:

[code]

I used a setup similar to @sinisaos for the testing:

[code]

I don't think Starlite isn't forwarding all sub paths on `/admin/`. For example, `/admin/api` isn't getting sent to Pic

[2022-09-16 08:26] dantownsend commented on #211
@sinisaos Hmm, interesting.

[2022-09-16 08:52] sinisaos commented on #211
It's not an elegant solution, but maybe as @peterschutt a Starlite maintainer knows better how to fix the problem. Basically, in Starlite we should detect when an admin application is mounted and strip only that scope path, leaving other paths (e.g. `tasks/1`) untouched. Or something else, feel free to suggest what else could be done. Thanks in advance.

[2022-09-16 09:32] peterschutt commented on #211
Great stuff @sinisaos - I'll have a closer look when I get a chance and work out a plan of attack. I think the key thing that the starlette router is doing in your mvce is that it manages stripping the mount prefix from `scope["path"]` and setting it to `scope["root_path"]` before forwarding on to the underlying app. I believe the necessity to strip the remaining path after the route prefix is due

[2022-09-16 11:43] sinisaos commented on #211
@peterschutt Thanks. It would be great if you try to find a better solution (the important thing is that now we have at least some solution that shows that Piccolo Admin can be mounted on the Starlite app). `mount()` would be the best solution if it suits the Starlite router implementation and the community. BlackSheep `mount()` implementation would be the best example ([here](https://github.com/N

[2022-09-17 17:48] sinisaos commented on #211
@peterschutt I have some update on how we can use Piccolo Admin mount a little better if `mount()` is not an option or it's difficult to implement, without too much intervention in the Starlite code. Route handlers have a [name argument](https://github.com/starlite-api/starlite/blob/cb0ea3481140c3780622032b4cde2222485ff711/starlite/handlers/base.py#L74) where we can pass e.g. `Piccolo Admin` (or a

[2022-09-18 08:31] sinisaos commented on #226
@dantownsend I played around with this a bit but couldn't find a way to do it. I tried `cy.exec()` (though it's considered an anti-pattern) but it didn't work. In the end, I don't think it matters that much, because when we do tests locally, I don't think it's a problem to start the server when the tests are done, and when the tests are done in GH actions with each commit server is restarted autom

[2022-09-18 08:37] dantownsend commented on #226
Thanks for giving it a go.

One way it's sometimes done is having a REST API endpoint, and Cypress calls that. So `example.py` might have a `/reset` endpoint, which resets the database.

I've been playing around with Playwright. It's an alternative to Cypress, and tests can be written in Python, which would make things like this easier, as we can directly call other Python code from within our tes

[2022-09-18 10:28] sinisaos commented on #226
Playwright looks great and seems to have all the features as Cypress but code can be written in Python which is great.

I like that idea although I don't know how to restart server from endpoint.

[2022-09-18 10:37] dantownsend commented on #226
I don't think we could restart the server, but the `reset` endpoint would delete the data from the database:

[code]

And call this again:

https://github.com/piccolo-orm/piccolo_admin/blob/13693161f237025a4f715abd4b4bbeda3bda026b/piccolo_admin/example.py#L350

If I had a time machine, I would probably go back and use Playwright instead of Cypress. I still really like Cypress, but being able to us

[2022-09-18 11:08] sinisaos commented on #226
Playwright looks interesting. I'll try to rewrite the Cypress tests (we don't have a lot of tests) and see how it works.

[2022-09-18 11:14] dantownsend commented on #226
Yeah, have a play around and see what you think.

[2022-09-21 19:34] sinisaos commented on #226
Playwright is great and easy to use. I didn't use tests in parallel (tests run much faster than in Cypress, but if we want to speed things up, parallel tests are [easy to implement](https://playwright.dev/python/docs/test-runners#parallelism-running-multiple-tests-at-once)) or async. Rewriting tests is actually easy thanks to [Playwright codegen](https://playwright.dev/python/docs/codegen#running-

[2022-09-21 22:19] dantownsend commented on #226
Yeah, I really like Playwright too. I also like Cypress, but being able to write tests in Python is very useful.

What you've done there with the fixture looks good to me.

As for GitHub Actions, I'm hoping it's quite straight forward. We `npm install playwright`, run `example.py`, and then launch the tests using pytest.

[2022-09-22 06:37] sinisaos commented on #194
@dantownsend This is done. You can close this issue.

[2022-09-22 06:38] sinisaos commented on #109
@dantownsend This is done. You can close this issue.

[2022-09-22 07:20] #109 closed

[2022-09-23 19:26] sinisaos commented on #211
@peterschutt Wildcard URL matching did the trick to mount Piccolo Admin in the Starlite app without modifying the Starlite source code. Mystery solved.
[code]
@dantownsend In the next few days I will do a PR to Piccolo ORM to add the Starlite asgi template.

[2022-09-23 20:08] peterschutt commented on #211
Great stuff, @sinisaos.

I still think Starlite should have a better way to mount an asgi app such as `create_admin` without all the extra stuff you've had to do here such as using starlette's `Mount` and `Router`. I just haven't found the time to dedicate to it yet.

[2022-09-23 20:16] sinisaos commented on #211
@peterschutt Thanks for your effort and help. I will create a Starlite asgi template in case someone wants to use Starlite with the full Piccolo ecosystem (ORM + admin) now. If you come up with a better way to mount admin, we can always make changes.

[2022-09-25 07:59] #194 closed

[2022-09-25 08:47] sinisaos commented on #211
@peterschutt [Here](https://github.com/piccolo-orm/piccolo/releases/tag/0.91.0) is the Starlite asgi starter template. Thanks again for your help. If you come up with a better mounting solution, feel free to make PR to change it. @dantownsend You can close this issue as it is done.

[2022-09-26 07:50] peterschutt commented on #211
Thanks for helping to grow the Starlite community @sinisaos!

[2022-09-26 10:41] rolisz opened #235 "Add multiselect for M2M relationships in forms"
It would be really nice if the forms to add/edit items would have support to include a field that is in a many to many relationship. The existing UI for foreign key relationships would mostly work, except that it would have to support selecting multiple items.

[2022-09-27 07:33] dantownsend commented on #235
I agree, this would be nice. It's definitely something we should add at some point.

The work around at the moment is to register the joining table with Piccolo Admin:

[code]

This means you can edit the M2M relationships.

However, it would be slicker if it was all on the same page.

[2022-09-27 07:39] dantownsend commented on #235
M2M widgets usually look something like this (taken from [here](https://www.nngroup.com/articles/listbox-dropdown/)):

![image](https://user-images.githubusercontent.com/350976/192463834-834979f2-c95b-46a2-a1e4-c4d3b94dea23.png)

We could do something similar (unless we can think up a better design).

[2022-09-30 14:26] sinisaos commented on #227
@dantownsend You can close this as we no longer use Cypress.

[2022-09-30 14:27] sinisaos commented on #226
@dantownsend You can close this as we no longer use Cypress.

[2022-09-30 14:29] #226 closed

[2022-09-30 14:29] sinisaos commented on #211
@dantownsend You can close this because it's done. I made a [Starlite Piccolo](https://github.com/sinisaos/starlite-piccolo) template if anyone wants to use that combination and have an easier start.

[2022-10-03 14:26] dantownsend opened #236 "Multi-factor login"
`BaseUser` has an `email` field, so we could integrate multi-factor login.

When a user attempts to login, after verifying the username and password, we email them a code which they need to enter into the UI.

We would need a table for storing the codes - we could create a new Piccolo app called something like `multi_factor`.

We would have a base class called something like `MultiFactorProvider`,

[2022-10-04 09:07] sinisaos commented on #236
@dantownsend It's a nice idea for a regular website, but for the admin interface I don't think it's necessary because it's too much work, and the Piccolo Admin has already limited access. When a user create an account [admin](https://github.com/piccolo-orm/piccolo/blob/master/piccolo/apps/user/tables.py#L33-L35) argument is `False` by default and only the `superuser` can change it for users he tru

[2022-10-04 09:17] dantownsend commented on #236
@sinisaos It's mostly a defence-in-depth in case someone brute forces the username and password on the login page. We use rate limiting, so it would take a long time, but it's possible if someone had a really obvious username and password (like admin/admin).

It would be a nice feature - I would definitely use it. But it is a fair bit of work. I'll leave this issue here for now, and might pick it

[2022-10-04 10:14] sinisaos commented on #236
@dantownsend Good point. I didn't think about the superuser himself and his potential mistakes. In that case, multi-factor authentication makes perfect sense. It will be a great feature when it's done.

[2022-10-06 14:55] shattl commented on #147
+1 for roles and restrictions, @dantownsend do you have any new thoughts on this?

[2022-10-06 16:25] dantownsend commented on #147
@shattl We might be able to do something.

Piccolo Admin is built on top of a class called `PiccoloCRUD`, which converts a Piccolo table into a REST API.

We have [validators](https://piccolo-api.readthedocs.io/en/latest/crud/piccolo_crud.html?highlight=validators#validators) for `PiccoloCRUD`.

Currently we just use these in Piccolo Admin to restrict what non-superusers can do (i.e. they're not a

[2022-10-11 20:26] dantownsend opened #237 "Datetime picker not working properly"
You can see here that even though the field is a `Timestamp`, it only lets you pick a date, and not a time:

<img width="676" alt="Screenshot 2022-10-11 at 21 24 49" src="https://user-images.githubusercontent.com/350976/195191351-f6ecc035-8775-4cc7-8b0c-1071f6d2732c.png">

After having done some research, we need to update the CSS for `vue-flatpickr-component`.

[2022-10-11 22:02] #237 closed

[2022-10-14 09:03] #147 closed

[2022-10-14 09:15] dantownsend commented on #147
In version 0.35.0, we added a `validators` argument to `TableConfig`, so fine grained access control is possible:

https://piccolo-admin.readthedocs.io/en/latest/table_config/index.html#validators

We might add some kind of UI for it in the future, but this approach is quite flexible, and should accommodate most use cases.

[2022-10-14 09:33] dantownsend opened #240 "Add help page to docs"
We don't currently have a help page in the docs.

Our docs are written with Sphinx and reStructuredText, which is the way all official Python documentation is written.

Time required: 10 mins to 1 hour, depending on experience.

- [ ] Create a [new folder in the docs](https://github.com/piccolo-orm/piccolo_admin/tree/master/docs/source), called 'help' with `index.rst` inside.
- [ ] Look at other `

[2022-10-14 09:37] RashiSingh20 commented on #240
Please assign this task to me

[2022-10-14 13:04] ShrinathPawar commented on #240
Will you please assign this issue to me? I would like to work on it.

[2022-10-14 20:38] shattl opened #241 "Unique Together"
Hi! Thanks for the last update! While building our app we faced one more lack of functionality in the ORM

Do you have plans to implement "**unique  together**" feature (for two or more fields)? Even sqlite supports it, very useful thing

The same in django, https://stackoverflow.com/questions/2201598/how-to-define-two-fields-unique-as-couple

[2022-10-14 20:52] dantownsend commented on #241
@shattl You're right, this needs adding.

There's a PR for it currently - https://github.com/piccolo-orm/piccolo/pull/582, which is quite close to be being done.

So hopefully it won't be too long.

In the mean time, you can get around it using a [migration with raw SQL](https://piccolo-orm.readthedocs.io/en/latest/piccolo/migrations/create.html#running-raw-sql) for adding / deleting the unique to

[2022-10-15 11:47] nazmiasri95 commented on #240
I'm pickling up this issue 🙌

[2022-10-15 12:07] nazmiasri95 commented on #240
Here is the PR: https://github.com/piccolo-orm/piccolo_admin/pull/242

[2022-10-15 15:06] dantownsend commented on #240
@nazmiasri95 Great, thanks!

[2022-10-29 18:31] Goldziher commented on #211
Just an update - `starlite v1.35.0` had proper support for mounts now. The `@asgi` decorator receives an optional kwarg `is_mount` that enables this.

[2022-10-29 19:42] dantownsend commented on #211
@Goldziher Great, thanks for the update.

We'll update Piccolo's Starlite template to use this new feature in a future version.

[2022-10-30 08:16] sinisaos commented on #211
@dantownsend I tried to use this new feature but failed to mount admin. I tried
[code]
and
[code]
but it didn't work. I'm probably doing something wrong, so it would be great if someone from the Starlite community could show how to use this new feature. There is also a missing `cryptography` dependency when installing Starlite.

[2022-10-30 08:18] dantownsend commented on #211
@sinisaos Thanks for trying it out.

[2022-10-30 10:51] peterschutt commented on #211
@sinisaos you wouldn't happen to have a repro handy would you?

[2022-10-30 14:14] sinisaos commented on #211
@peterschutt I'm sorry but I don't understand. Do you think I have a github repo with the code? I have not. I just tried to change the [admin mount](https://github.com/piccolo-orm/piccolo/blob/master/piccolo/apps/asgi/commands/templates/app/_starlite_app.py.jinja#L27-L37) function from the Starlite template (generated from `piccolo asgi new`) with the new code from [this example](https://github.co

[2022-10-30 14:20] peterschutt commented on #211
The starlite template you linked was exactly what I'm looking for, cheers.

[2022-10-30 14:33] dantownsend commented on #211
The problem might be incompatible Starlette versions. Piccolo Admin has FastAPI as a dependency, which only works with older versions of Starlette.

[2022-10-30 14:36] peterschutt commented on #211
Thanks @dantownsend - I've opened a tracking issue on our side, we'll get to the bottom of it (hopefully!) :+1:

[2022-10-30 14:40] provinzkraut commented on #211
@sinisaos

That was a bug that has since been fixed. Updating to the newest version of starlite (`1.35.1`) should fix it!

[2022-10-30 15:17] sinisaos commented on #211
@provinzkraut I can confirm that now the installation is good and all dependencies are included. Thanks.

Piccolo Admin app mounting still doesn't work in this new way. The [old way](https://github.com/piccolo-orm/piccolo/blob/master/piccolo/apps/asgi/commands/templates/app/_starlite_app.py.jinja#L27-L37) works as expected

[2022-10-30 15:31] provinzkraut commented on #211
@sinisaos Thanks for the feedback! Regarding the other issue, as @peterschutt mentioned, we're working on it! You can subscribe to this issue to receive updates: starlite-api/starlite#716

[2022-10-30 23:29] peterschutt commented on #211
I think you are correct. I see that the application generated with `piccolo asgi new` pins starlite to v1.23. If I change that restriction to >=1.35 (first release that includes the feature), then piccolo-admin gets resolved down to v0.10.9, which is the version before this app migrated to fastapi from starlette.

@sinisaos can you confirm how you set up the environment to test this please?

[2022-10-31 06:36] sinisaos commented on #211
@peterschutt Dependencies are not a problem. All major dependencies are on the latest version.
[code]

[2022-10-31 06:39] peterschutt commented on #211
with that exact `requirements.txt` I get:

[code]

[2022-10-31 07:13] peterschutt commented on #211
No probs - and as you say, at least there is already the working solution that you put together 👍

[2022-10-31 07:41] dantownsend commented on #211
Yeah, each FastAPI release version pins a single version of Starlette, which means it doesn't play nicely with other libraries which depend on Starlette.

https://github.com/tiangolo/fastapi/blob/f67b19f0f73ebdca01775b8c7e531e51b9cecfae/pyproject.toml#L41

It's quite annoying.

[2022-10-31 07:44] peterschutt commented on #211
Oh right, I just assumed it must've been something to do with the requests/httpx business recently. TIL!

[2022-11-11 22:35] dantownsend commented on #40
This is less of an issue now, as when adding a new row to a related table, you can just search for the new row using our new foreign key selector UI.

[2022-11-11 22:35] #40 closed

[2022-11-11 22:37] dantownsend opened #246 "Fix issue with edit button next to foreign key selector"
There's a problem where this button doesn't work:

<img width="654" alt="Screenshot 2022-11-11 at 22 36 37" src="https://user-images.githubusercontent.com/350976/201440162-13aba824-873e-4df9-941b-ec145f4f3d2a.png">

[2022-11-11 23:04] #246 closed

[2022-11-11 23:12] dantownsend opened #248 "Make page title match `site_name`"
Related to:

https://github.com/piccolo-orm/piccolo_admin/pull/203
https://github.com/piccolo-orm/piccolo_admin/discussions/201

We planned on making the logo customisable, but it wasn't great for performance. The way the app is structured means it will fetch the logo from the server every time a page navigation occurs.

Let's make the HTML title match the `site_name` for now. For example:

[code]

[2022-11-11 23:19] #248 closed

[2022-11-15 08:55] sinisaos commented on #211
@peterschutt FastAPI is now using Starlette version [0.21.0](https://github.com/tiangolo/fastapi/blob/4638b2c64e259b90bef6a44748e00e405825a111/pyproject.toml#L42), but the new way to mount an asgi app in `Starlite==1.39.0` still doesn't work. I apologize in advance if I don't know how to use that new feature. I tried this to way but neither way works properly (doesn't match any Piccolo Admin sub-r

[2022-11-15 09:37] peterschutt commented on #211
OK, thanks for the update, have reopened our tracking issue. https://github.com/starlite-api/starlite/issues/716

[2022-11-15 09:53] sinisaos commented on #211
@peterschutt Thanks for your effort. If it's a big problem, maybe you shouldn't even bother troubleshooting because the `Starlette` router method works with the latest version of Starlite as well.

[2022-11-15 10:07] dantownsend opened #251 "Add debug mode"
We should add a debug mode, because when Piccolo Admin raises a 500 error it can be hard to debug.

The easiest way for us to do this is to expose FastAPI's debug option.

[code]

[2022-11-15 15:44] dantownsend opened #252 "Fix typos in docs for how to use validators"
As reported here: https://github.com/piccolo-orm/piccolo_admin/discussions/250#discussioncomment-4147877

[2022-11-15 16:00] dantownsend opened #254 "Fix tests"
A lot of the test suite has blown up with the latest version of Starlette, which uses `httpx` instead of `requests` for its test client.

We will have to fix the tests, and make `starlette=0.21.0` the minimum from now on, because supporting test suites for the older versions will be a massive pain.

[2022-11-15 16:12] sinisaos commented on #254
@dantownsend If you want I can try to fix the tests. I haven't worked with the new Starlette TestClient yet, so I'd like to try it.

[2022-11-15 16:16] dantownsend commented on #254
@sinisaos Yes, feel free to give it a go.

The TestClient is mostly the same, but has subtle differences for cookies and how it handles redirects.

For example, when calling the `/login/` endpoint, you have to use `follow_redirects=False`, otherwise the response you get will be the redirected one, and it won't contain the session auth cookie. I hope that makes sense.

Also, the `Response.cookies`

[2022-11-15 16:21] sinisaos commented on #254
@dantownsend OK. I will try and use the Piccolo API tests as a reference. If I didn't succeed, I will reported here.

[2022-11-15 18:14] dantownsend commented on #254
Fixed by https://github.com/piccolo-orm/piccolo_admin/pull/255

[2022-11-15 18:56] #252 closed

[2022-11-16 16:58] #251 closed

[2022-11-16 17:06] dantownsend opened #257 "Support Python 3.11"
Update setup.py and tests.

[2022-11-22 07:47] #240 closed